<div class="main-content">
    <section>
        <div class="container custom-container">
            <div class="row">
            	<div class="col-12 item"> 
			        <article class="{{post_class}}" data-id={{comment_id}}>
			            <div class="post-inner-content">
			                <h3 class="podcast-title">{{title}}</h3>
			                <div class="podcast-content">{{content}}</div>
			                
			            </div>
			        </article>
			    </div>
			</div>
		</div>
	</section>
</div>