{{#is "vfit-contest"}}
<header class="header_area  header_stick mobheader" style="">
   <nav class="navbar navbar-expand-lg menu_center">
      <div class="container custom_container">
         <a class="navbar-brand sticky_logo" href="/"> 
            <img width="150" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/01-vantagefit-logo.png" alt="Vantage Circle" class="d_logo">
            <img width="150" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/00-vantagefit-logo.png" alt="Vantage Circle" class="stick_logo">
        </a> 
      </div>
   </nav>
</header>
{{else}}
   <header class="header_area  header_stick" style="">
   <nav class="navbar navbar-expand-lg menu_center">
      <div class="container custom_container">
         <a class="navbar-brand sticky_logo" href="/"> 
            <img width="150" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/01-vantagefit-logo.png" alt="Vantage Circle" class="d_logo">
            <img width="150" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/00-vantagefit-logo.png" alt="Vantage Circle" class="stick_logo">
        </a> 
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="menu_toggle"> <span class="hamburger"> <span></span> <span></span> <span></span> </span> <span class="hamburger-cross"> <span></span> <span></span> </span> </span> </button>
         <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul id="menu-main-menu-global" class="navbar-nav menu  ml-auto" onclick="activefunc(event)">
               <li itemscope="itemscope" id="menu-item-28" class="menu-item nav-item">
                  <a href="/" class="nav-link menu-top">Home </a>
               </li>
              <li itemscope="itemscope" id="menu-item-18" class="menu-item  nav-item">
                  <a href="/features/" class="nav-link menu-top">Features</a>
               </li>
               <li itemscope="itemscope" id="menu-item-18" class="menu-item  nav-item">
                  <a href="/pricing/" class="nav-link menu-top">Pricing</a>
               </li>
               <li itemscope="itemscope" id="menu-item-19" class="menu-item  nav-item">
                  <a href="https://blog.vantagefit.io" class="nav-link menu-top">Blog</a>
               </li>
             <!--  <li itemscope="itemscope" id="menu-item-489" class="menu-item nav-item">
                  <a href="http://localhost:2368/pricing/" class="nav-link">Pricing </a>
               </li>-->
            </ul>
            <!--<a href="#" class="menu-login"> Login </a> -->
            <a class="menu_cus btn_get btn-meta btn_hover menu-top" href="/request-demo">Request Demo </a>
         </div>
      </div>
   </nav>
</header>     
    {{/is}}

    