<!--<label for="range">
      <input type="range" name="range" id="range" min="0" max="1000" step="5" value="0"/>
</label>
No of users- <span class="users">0</span>
<div class="out">
 Free<output for="range" class="output" attr='3'></output>
 Premium<output for="range" class="output" attr='5'></output>
 Enterprice<output for="range" class="output" attr='9'></output>
</div>-->
<!--new-->
<div class="popupbottom overlayPop  horizontalpopup marketinglanding {{post_class}}" id="bottommodal">
   <div class="appdownloadbanner  text-center  healthforce row d-flex align_items_center innerspace">  
   <button type="button" class="close buttonpopup close-fd" >
    <span><svg class="crossico" width="30" height="30" viewBox="0 0 17 17"> <path class="fill_path" fill-rule="evenodd" d="M16.293 1.592l-1.3-1.3-6.7 6.701-6.7-6.7-1.3 1.299 6.7 6.7-6.7 6.701 1.3 1.3 6.7-6.7 6.7 6.7 1.3-1.3-6.7-6.7z"></path> </svg></span>
    </button>                 
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><div class="horizontaltext">Build a Healthy Workforce by downloading Vantage Fit app!</div></div>
      <div class="text-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="app_downloadbanner index_download">
          <div class=" transform button-style dwnload_app">
            <a href="https://apps.apple.com/in/app/vantage-fit/id1393594182" target="_blank">
              <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/appstore.png" alt="ios"></a>
          </div>
          <div class=" transform button-style dwnload_app">
              <a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagefit.v_fit" target="_blank"><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/googleplay.png" alt="playstore"></a>              
          </div>
       </div>
     </div>
    </div>
</div>
<!--bottompopup ends-->
<footer class="new_footer_area bg_color  marketinglanding {{post_class}}">
    <div class="marketinglanding {{post_class}}">
         <div class="new_footer_top">
            <div class="container">
               <div class="row">
                  <div id="custom_html-2" class="widget_text widget footer-widget col-lg-3 col-md-12 col-sm-12 widget_custom_html">
                     <div class="widget_text f_widget about-widget">
                        <div class="textwidget custom-html-widget">
                           <p> <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/poweredby.png" alt="Vantage Circle"></p>
                           <p> Collaborate with us to provide your employees an engaging and rewarding experience.</p>
                           <div class="social-icons">
                              <div class="icons"> <a href="https://www.facebook.com/Vantagefit-114318070217339/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-f"></i></a></div>
                              <div class="icons"> <a href="https://twitter.com/FitVantage" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                              <div class="icons"> <a href="https://www.linkedin.com/company/vantage-circle" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
                              <div class="icons"> <a href="https://www.youtube.com/channel/UCzb6J4NEmhuGpj_-u2kz7aw" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
                              <div class="icons"> <a href="https://in.pinterest.com/vantagecircle/" target="_blank" rel="noopener noreferrer"><i class="fa fa-pinterest" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="nav_menu-3" class="widget footer-widget col-lg-3 col-md-12 widget_nav_menu col-sm-12">
                     <div class="f_widget about-widget pl_70">
                        <h3 class="widget_title f-title f_600 t_color f_size_18 mb_40">Company</h3>
                        <div class="menu-footer-3-company-container">
                           <ul id="menu-footer-3-company" class="menu">
                              <li id="menu-item-586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-586"><a href="https://www.vantagecircle.com/about-us/" class="nav-link" target="_blank">About Us </a></li>
                              <li id="menu-item-541" class="menu-item menu-item-type-post_type_archive menu-item-object-career menu-item-541"><a href="https://www.vantagecircle.com/career/" class="nav-link" target="_blank">Career </a></li>
                              <li id="menu-item-608" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-608"><a href="/contact-us/" class="nav-link">Contact Us </a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div id="nav_menu-2" class="widget footer-widget col-lg-3 col-md-12 widget_nav_menu col-sm-12">
                     <div class="f_widget about-widget pl_70">
                        <h3 class="widget_title f-title f_600 t_color f_size_18 mb_40">Solutions</h3>
                        <div class="menu-footer-2-solutions-container">
                           <ul id="menu-footer-2-solutions" class="menu">
                              <li id="menu-item-382" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382"><a href="https://www.vantagecircle.com/solutions/rewards-recognition/" class="nav-link" target="_blank">Employee Recognition </a></li>
                              <li id="menu-item-380" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380"><a href="https://www.vantagecircle.com/solutions/employee-discount/" class="nav-link" target="_blank">Employee Discount </a></li>
                              <li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381"><a href="https://www.vantagecircle.com/solutions/employee-survey/" class="nav-link" target="_blank">Employee Survey </a></li>
                              <li id="menu-item-394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394"><a href="https://www.vantagefit.io" class="nav-link">Employee Wellness </a></li>
                              <li id="menu-item-393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393"><a href="https://www.vantagecircle.com/employee-engagement-platform/" class="nav-link" target="_blank">Employee Engagement </a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div id="nav_menu-4" class="widget footer-widget col-lg-3 col-md-12 widget_nav_menu col-sm-12">
                     <div class="f_widget about-widget pl_70">
                        <h3 class="widget_title f-title f_600 t_color f_size_18 mb_40">Resource Center</h3>
                        <div class="menu-footer-4-links-container">
                           <ul id="menu-footer-4-links" class="menu">
                              <li id="menu-item-587" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-587"><a href="https://www.vantagefit.io/resources/" class="nav-link">Resources </a></li>
                              <li id="menu-item-389" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389"><a href="https://blog.vantagefit.io/" class="nav-link">Blog </a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6 col-sm-7 col-md-6">
                  <p>© Vantage Circle. 2020 All rights reserved.</p>
               </div>
               <div class="col-lg-6 col-sm-5 text-right col-md-6">
                  <p><a href="https://www.vantagecircle.com/terms-conditions/" target="_blank">Terms and Conditions</a>&nbsp; |&nbsp; <a href="https://www.vantagecircle.com/privacy-policy/" target="_blank">Privacy Policy</a></p>
               </div>
            </div>
         </div>
      </div>
</footer>

{{!-- Ghost Content API --}}
<script type="text/javascript" src="https://unpkg.com/@tryghost/content-api@1.0.0/umd/content-api.min.js"></script>
<script>

  var width = ($("#range").val())/10;
  $("#slider-fill").attr("style", "width: "+ (width) + "%;");
  $(".slider-handle").attr("style", "left: "+ (width) + "%;");
  $('#range').on("input", function() {
    var priceValue;
    var inputs = $("output[attr]");
    var user = this.value;
    $(".users").text(user);
    var width = ($("#range").val())/10;
    
    if(width > 98){

      $("#slider-fill").attr("style", "width: "+ (98) +"%;");
      $(".slider-handle").attr("style", "left: "+ (96) +"%;");
    }
    else if(width < 2){
      $("#slider-fill").attr("style", "width: "+ (2) +"%;");
      $(".slider-handle").attr("style", "left: "+ (2) +"%;");
    }
    else{
      $("#slider-fill").attr("style", "width: "+ (width ) +"%;");
      $(".slider-handle").attr("style", "left: "+ (width-1) +"%;");
    }
    
    inputs.each(function(){ 
      var priceValue = $(this).attr('attr');
       //console.log("user"+user);
       //console.log("price"+priceValue);
       //console.log("total"+$(this).val((user)*priceValue));
       $(this).val((user)*priceValue);
    });
    }).trigger("change");
(function($) {
  $.fn.circleGraphic = function(options) {
    $.fn.circleGraphic.defaults = {
      color: '#05c8ad',
      startAngle: 0,
      //endAngle:50
    };
    $(this).each(function() {
      let $this = $(this)
      var opts = $.extend({}, $.fn.circleGraphic.defaults, options);
      var percentage = $(this).find('.circle').attr('data-percent');
      //var percentage = $this.html();
      var ID = "c" + percentage + Math.random();
      $this.append("<canvas width='200' height='200' id='" + ID + "'></canvas>");
      var canvas = document.getElementById(ID),
      context = canvas.getContext('2d');
      var Width = $this.width();
      $this.height(Width);
      var Height = $this.height();

      canvas.width = Width;
      canvas.height = Height;
      var startAngle = opts.startAngle,
        endAngle = percentage / 100,
        angle = startAngle,
        radius = Width * 0.4;

      function drawTrackArc() {
        context.beginPath();
        context.strokeStyle = '#ecfdfb';
        context.lineWidth = 7;
        context.arc(Width / 2, Height / 2, radius, (Math.PI / 180) * (startAngle * 360 - 90), (Math.PI / 180) * (endAngle * 360 + 270), false);
        context.stroke();
        context.closePath();
      }

      function drawOuterArc(_angle, _color) {
        var angle = _angle;
        var color = _color;
        context.beginPath();
        context.strokeStyle = color;
        context.lineWidth = 7;

        context.font = '300 70px Poppins,sans-serif';
        context.arc(Width / 2, Height / 2, radius, (Math.PI / 180) * (startAngle * 360 - 90), (Math.PI / 180) * (angle * 360 - 90), false);
        context.stroke();
        context.closePath();
      }

      function numOfPercentage(_angle, _color) {
        var angle = Math.ceil(_angle * 100);
        var color = _color;
        context.fillStyle = '#4a5269';
        var metrics = context.measureText(angle);
        var textWidth = metrics.width;
        var xPos = Width / 2 - textWidth / 2,
          yPos = Height / 2 + textWidth / 2;
          context.textAlign ='center';
          context.direction = 'ltr'
        context.fillText(angle + "%", 137, 157);
      }

      function drawACircleInTheEnd() {
        let radians = angle * 2 * Math.PI;
        context.beginPath();
        context.arc(Width / 2 + radius * (Math.sin(radians)),
          Height / 2 - radius * (Math.cos(radians)),
          3,
          0,
          2 * Math.PI,
          false);

        context.fillStyle = '#05c8ad';
        context.fill();
        context.lineWidth = 7;
        context.strokeStyle = '#05c8ad';
        context.stroke();
      }
          

      function draw() {
        var loop = setInterval(function() {
        var elementPos = $('.circleGraphic').offset().top;
              var topOfWindow = $(window).scrollTop();
              var animate = $('.circleGraphic').data('animate');
               if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
                  context.clearRect(0, 0, Width, Height);
                  drawTrackArc();
                  drawOuterArc(angle, opts.color);
                  numOfPercentage(angle, opts.color);
                  drawACircleInTheEnd();
                  angle += 0.01;
                  if (angle > endAngle) {
                    clearInterval(loop);
                  }
             }

        }, 1000 / 60);
      }
      draw();
      return $this;
    })
  };
})(jQuery);
$('.circleGraphic').circleGraphic();
$(function($) {
$('.popupyoutubevideo,.popupvideosection').magnificPopup({
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,
      fixedContentPos: false
  });
  $(document).ready(function () {
    $(window).scroll(function() {
      const showMsg = localStorage.getItem('showMsg');
      if ($(window).scrollTop() > 550) {
          if(showMsg !== 'false'){
            $(".new_footer_area").addClass("popupspc");
            $('.overlayPop').addClass("slideUp").removeClass("slideDown");
          }
      } else {
        $('.overlayPop').removeClass("slideUp").addClass("slideDown").hide("1000");
      }
       $(".close-fd").click(function() {
        $(".new_footer_area").removeClass("popupspc");
        $(".overlayPop").addClass("slideDown").removeClass("slideUp");
          localStorage.setItem('showMsg', 'false');
      }); 
      if(showMsg == 'false'){
        $(".new_footer_area").removeClass("popupspc");
        $('.overlayPop').addClass("slideDown").removeClass("slideUp");    
      }
    });
  });
});
</script>
