{{!< default}}


{{!< default}}



<main id="site-main" class="site-main outer error-content">
    <div class="inner">
        <section class="error-message" >
        <div class="error_area">

            <div class="container">
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                        <div class="title_head " style="margin-bottom:20px;color:#ffffff">
                            <span>Page not found</span>
                        </div>
                        <p class="title_spc">We’re sorry, the page you have looked for does not exist in our database! Maybe go to our home page or try to use a search?</p>
                        <div class="button-black transform "> <a href="/" class="button-style banner_btn" style="background:#ffffff;border:1px solid #ffffff">Go back to Home Page</a></div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        
    </div>
</main>