{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#page}}


<div class="elementor">
	<section  class="n_hero_banner_area" id="home">
       <svg id="hero_shape2_normal" xmlns="" xmlns:xlink="">
          <defs>
             <linearGradient id="PSgrad_0" x1="0%" x2="76.604%" y1="64.279%" y2="0%">
                <stop offset="0%" stop-color="#F59C94" stop-opacity=".3"></stop>
                <stop offset="100%" stop-color="#F59C94" stop-opacity=".3"></stop>
             </linearGradient>
          </defs>
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M0.000,246.000 C0.000,246.000 326.728,190.237 710.653,123.017 C937.017,83.384 1398.662,3.976 1398.662,3.976 C1398.662,3.976 1524.189,5.641 1668.565,26.591 C1813.299,47.594 1920.000,84.745 1920.000,84.745 L1920.000,323.000 L0.000,323.000 L0.000,246.000 Z"></path>
          <path fill="url(#PSgrad_0)" d="M0.000,323.249 C0.000,-57.945 0.000,623.445 0.000,242.251 C0.000,242.251 141.533,218.272 347.776,183.613 C479.132,161.538 636.827,133.656 800.746,105.827 C943.681,81.561 1097.680,52.804 1239.269,28.559 C1291.889,19.548 1358.059,5.849 1393.180,1.251 C1434.086,-4.103 1581.001,11.184 1661.097,24.221 C1818.678,49.869 1920.000,84.251 1920.000,84.251 L1920.000,190.407 C1813.062,96.085 1433.376,28.053 1285.064,28.053 L0.000,323.249 Z"></path>
       </svg>
       <div class="container custom-container">
          <div class="row column-change ipadcolumn-change">
             <div class="col-lg-7 col-md-12 left_pclr">
                <div class="n_banner_content">
                   <h1 class=" wow fadeInUp animated" data-wow-delay=".7s" style="visibility: visible;  -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; animation-name: fadeInUp;">Vantage Fit - <br>Revolutionizing Your Corporate Wellness Program</h1>
                    <p class="wow fadeInUp animated" data-wow-delay=".8s" style="visibility: visible;  -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;animation-name: fadeInUp;">
                   		Give your employees the best workplace experience with an engaging corporate wellness program. Get them moving and encourage a healthy lifestyle for better productivity with Vantage Fit.
               		  </p>
                    <div class="action_btn d-flex align-items-center mt_40 mb_40 wow fadeInLeft animated" data-wow-delay="0.9s" style="visibility: visible; -webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s; animation-name: fadeInLeft;">
                      <a href="/request-demo" class="vc_button banner_btn button-style"> Get in Touch </a> 
                      <a class="popup-youtube banner_btn white_button button-style" target="_blank" href="https://www.youtube.com/watch?v=pkm-SDdqv7E" style="margin-left: 20px;">
                         <div class=""> <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/play-button.png" alt="freedownload" style="width:19px;height:10%"><span style="color: #ffffff;">&nbsp;&nbsp;Watch Video </span></div>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 offset-lg-1 col-md-12" style="position:relative">
                <div class="mobile_img wow fadeInRight  animated" data-wow-delay="0.4s" style="visibility: visible;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;">
                  <img class="mobile_banner" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/vantagefit-devices.png" alt="Mobile App" > 
                  <img class="vfit hidden-xs hidden-sm hidden-sml" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/vantage-fit-person.png" alt="VFit">
                </div>
             </div>
             <div class="shape_images hidden-xs hidden-sm">
             	<img class="lines" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/lines.png" alt="lines" > 
             	<img class="pulse" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heart-lines.png" alt="pulse">
             </div>
          </div>
       </div>
	</section>
	<!--progress bar section-->
	<section class="section_space">
		<div class="container custom-container">
			<div class="row  wow fadeInUp animated " data-wow-delay=".5s" style="visibility: visible;  -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><h2 class="title_head text-center title_spc">Corporate Wellness Program Statistics</h2></div>
				<div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="91"></div></div>
				<div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="60"></div></div>
				<div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="27"></div></div>
				<div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="61"></div></div>
			</div>
		</div>
		<div class="container custom-container">
			<div class="row wellnessprogram">
  			<div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center"><p class=" wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">91% of employees that work in companies that prioritize workplace wellness say that they feel motivated and focused at work.</p></div>
  			<div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center"><p class=" wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">60% of surveyed employers reported that implementing employee wellness programs helped reduce the healthcare costs for employees.</p></div>
  			<div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center"><p class=" wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: .4s; animation-name: fadeInUp;">Implementing workplace wellness measures can help employers bring down employee absenteeism due to health related issues by 27%.</p></div>
  			<div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center"><p class=" wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">61% of employees agreed that they had made healthier lifestyle choices because of their company’s employee wellness program. </p> </div>
			</div>
		</div>
	</section>
  <!-- content and image-->
  <section class="section_space">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><h2 class="title_head text-center wow fadeInUp animated title_spc" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;"><span>How Corporate Wellness Program</span><br>
        Can Help Your Organisation</h2></div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex align_items_center">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 content_benefits ">
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <h6 >Increase Productivity</h6>
                  <p>An employee’s productivity is determined by how healthy they are, both physically and mentally. Vantage Fit packs in various health challenges and tasks for helping your employees take up healthy habits and boost their productivity. Our app also enables the organizations to assign various health tasks to your employees, thereby encouraging them to stay healthy and fit.</p>
                </div>
              </div>
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <h6>Decrease Absenteeism</h6>
                  <p>Employee absenteeism has been a major problem across many organizations. Most of the time, this issue arises due to various health-related issues that your employees may face. However, with a corporate wellness program at your disposal, you can mitigate it by encouraging your employees to take up healthy habits. And that’s what our app does!</p>
                </div>  
              </div>
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.7s" style="visibility: visible; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <h6>Enhance Company Culture</h6>
                  <p>The success of any organization is highly determined by its overall workplace culture. Our corporate wellness program delivered through Vantage Fit helps you promote a culture of health and wellbeing across your company. Thus, enhancing your company culture by nurturing a healthy and engaged workforce.</p>
                </div>            
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm" >
            <div class="wow fadeInRight animated" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInRight;"> 
              <img class="img-responsive image-fit" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/corporate-wellness-organisation.png" alt="wellness">
            </div>
          </div>
      </div>
    </div>
  </section>
        <!--second content-->
    <section class="section_space mob-section">
    <div class="container">
      <div class="">
        <div class="row d-flex align_items_center">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm">
            <div class="wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInLeft;"> 
              <img class="img-responsive" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/increase-employee-engagement.png" alt="engagement">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 content_benefits ">
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                <div class="rel_text ">
                  <h6 >Promote Healthy Habits</h6>
                  <p>Every great thing begins with adopting healthy habits, and workplace wellness programs are specially designed for this purpose. By initiating a wellness program in your organization, you can help your employees develop healthy habits and transform their lifestyles both at home and work.</p>
                </div>
              </div>
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInRight;">
                <div class="rel_text">
                  <h6>Increase Employee Engagement</h6>
                  <p>Highly engaged employees are the backbone of successful corporations. A workplace wellness program helps you create an engaging atmosphere around your organization to boost your employees’ morale. It is when your employees feel physically and mentally fit, they will give their best performance.</p>
                </div>  
              </div>
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.7s" style="visibility: visible; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; animation-name: fadeInRight;">
                <div class="rel_text">
                  <h6>Reduce Healthcare Costs</h6>
                  <p>Every year, companies around the globe pay a hefty sum for providing subsidized insurance plans and other health benefits to their employees. But, encouraging your workforce to adopt healthy habits within their work-life will surely bring down the overall employee healthcare costs.</p>
                </div>            
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--features at a glance-->
  <section class="section_space">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><h2 class="title_head text-center wow fadeInUp animated " data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;margin-bottom:10px">Features at a Glance</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class=" text-center wow fadeInUp animated title_spc secondarytext" data-wow-delay=".6s" style="visibility: visible; animation-delay: .6s; animation-name: fadeInUp;">Here’s a quick look at some of the key features of Vantage Fit.</p>
        </div>
        <div class="row_elementor features title_spc">
          <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 left-activity">
            <div data-img="activity" class="box_item wow fadeInUp animated first_active active-sec" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/activitytracker.png" class="first-image activebox hidden-xs hidden-sm" alt="activity">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-activitytracker.png" class="second-image hidden-xs hidden-sm" alt="activity">
              </div>
              <div class="featurestext">
                <h6>Activity &<br> Calorie Tracker</h6>
              </div>
            </div>
            <div data-img="heartrate" class="box_item wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heartratemonitor.png" class="first-image activebox hidden-xs hidden-sm" alt="heartrate">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-heartratemonitor.png" class="second-image hidden-xs hidden-sm" alt="heartrate">
              
              </div>
              <div class="featurestext">
                <h6>Heart Rate<br> Monitor</h6>
              </div>
            </div>
            <div data-img="health" class="box_item wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; a-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/wearabledevices.png" class="first-image activebox hidden-xs hidden-sm" alt="health">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-wearabledevices.png" class="second-image hidden-xs hidden-sm" alt="health">
              </div>
              <div class="featurestext">
                <h6>Wearable<br> Devices</h6>
              </div>
            </div>
            <div data-img="contest" class="box_item wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/contest-challenges.png" class="first-image activebox hidden-xs hidden-sm" alt="contest">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-contest-challenges.png" class="second-image hidden-xs hidden-sm" alt="contest">
              </div>
              <div class="featurestext">
                <h6>Contest and<br> Challenges</h6>
              </div>
            </div>
          </div>

          <!--mid sec-->

          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 mid-activity hidden-xs hidden-sm">
            <div id="activity">
              <img class="img-responsive Image-Overlay active-img" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/activity-calorie.png" alt="activity">
              
            </div>
            <div id="heartrate">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heart-rate.png" alt="heartrate">
            </div>
            <div id="health">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/wearable-devices.png" alt="health dairy">
            </div>
            <div id="contest">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/contest-challenge.png" alt="contest">
            </div>
            <div id="assessment">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/health-risk-assesment.png" alt="contest">
            </div>
            <div id="meter">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/mood-o-meter.png" alt="moodometer">
            </div>
            <div id="redeem">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/fitness-points.png" alt="fitnesspoints">
            </div>
            <div id="leaderboard">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/realtime-leaderboard.png" alt="leaderboard">
            </div>
          </div>

          <!--right sec-->

          <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 right-activity">
            <div data-img="assessment" class="box_item wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/hra.png" class="first-image activebox hidden-xs hidden-sm" alt="assessment">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-hra.png" class="second-image hidden-xs hidden-sm" alt="assessment">
              </div>
              <div class="featurestext">
                <h6>Health Risk<br> Assessment</h6>
              </div>
            </div>
            <div data-img="meter" class="box_item wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/moodtracker.png" class="first-image activebox hidden-xs hidden-sm" alt="mood">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-moodtracker.png" class="second-image  hidden-xs hidden-sm" alt="mood">
              </div>
              <div class="featurestext">
                <h6 class="moodmeter">Mood-o-meter</h6>
              </div>
            </div>
            <div data-img="redeem" class="box_item wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/fitnesspoint.png" class="first-image activebox hidden-xs hidden-sm" alt="fitnesspoints">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-fitnesspoint.png" class="second-image  hidden-xs hidden-sm" alt="fitnesspoints">
              </div>
              <div class="featurestext">
                <h6>Redeemable<br> Fitness Points</h6>
              </div>
            </div>
            <div data-img="leaderboard" class="box_item wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/leaderboard.png" class="first-image activebox hidden-xs hidden-sm" alt="leaderboard">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-leaderboard.png" class="second-image hidden-xs hidden-sm" alt="leaderboard">
              </div>
              <div class="featurestext">
                <h6>Realtime<br> Leaderboard</h6>
              </div>
            </div>
            
          </div>
          <!--right section ends-->
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class=" text-center wow fadeInUp animated " data-wow-delay=".3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="" class="vc_active">Learn More <span class="fa fa-long-arrow-right"></span></a></div>
        </div>
      </div>
    </div>
  </section>
  <!--Healthy workforce-->
  <section class="section_space">
    <div  style="background:#e8fcfa">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthyworkforce">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/person-running-corporate-wellness.png"  alt="Request Demo" class="img-responsive">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
          <div class="title_second">
            <h3><span>Build a</span> Healthy Workforce!</h3>
            <p>Download Vantage Fit app today.</p>
            <br>
            <div class="store-icons">
              <div class="linkstore transform button-style">
                <a href="https://itunes.apple.com/in/app/vantage-circle/id869311123?mt=8&ign-mpt=uo%3D4" target="_blank"><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/appstore-button.png"  alt="applestore" class="img-responsive"></a>
              </div>
              <div class="linkstore transform button-style">
                <a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagecircle&hl=en" target="_blank"><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/googleplay-button.png"  alt="googleplaystore" class="img-responsive"></a>
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </section>

  <!--Admin dashboard-->
  <section class="section_space" >
    <div class="container">
      <div class="row column-change d-flex align_items_center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <h2 class="title_head default-spc"><span>Intuitive </span><br>Admin Dashboard</h2>
          <p>Vantage Fit includes a highly advanced and intuitive dashboard that allows managers to create and run various health challenges for their employees and view the real-time progress of each employee.</p>
          <div class="image-content">
            
           <div> <span><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/createcontest.png" alt="createcontest" class="img-responsive"></span> Create and Configure Wellness Contests</div>
            <div><span><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/trackrealtime.png" alt="progress" class="img-responsive"></span>Track Real-time Progress</div>
            <div><span><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/health.png" alt="metrics" class="img-responsive"></span> Health Insights and Metrics</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInRight animated animated text-center image-change" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/admindashboard.png" alt="admindashboard" class="img-responsive image-fit">
        </div>
        </div>
      </div>
    </div>
  </section>
  <!--corporate wellness-->
  <section class="section_space">
    
    <div  class="wellness-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-right mob-pull">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/_guide-to-corporate-wellness.png" alt="wellnessprogram" class="downloadbook">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
          <div class="title_second">
              <div style="margin-bottom:10px"><span class="guide">A COMPLETE GUIDE TO</span></div>
              <h3 style="color:#ffffff">Corporate<br> Wellness Programs</h3>
          </div>
          <div class="transform">
            <a class="popup-youtube banner_btn white_button button-style" href="https://www.vantagecircle.com/en/resources/free-ebook-corporate-wellness-program/" target="_blank">
               <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/download.png" alt="freedownload" style="width:3%;height:10%" class="hidden-xs hidden-sm"> <span style="color: #ffffff;">&nbsp;&nbsp;Free Download </span>
            </a>
          </div>
        </div>
      </div>
      <div class="images-wellness hidden-xs hidden-sm hidden-sml">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/dumbell.png" class="img-1" alt="wellnessprogram">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/cycle.png" class="img-2" alt="wellnessprogram">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/food.png" class="img-3" alt="wellnessprogram">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/shoe.png" class="img-4" alt="wellnessprogram">

      </div>
    </div>
    </div>
    
    <div class="welness-bottom hidden-xs">
    </div>
  </section>
  <!--12 week campaign-->
  <section class="section_space" >
    <div class="container">
      <div class="row d-flex align_items_center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInLeft animated animated text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/12-week-campaign.png" alt="campaign" class="img-responsive">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <h2 class="title_head default-spc"><span>12 Week</span><br> Campaign</h2>
          <p>Vantage Fit’s unique 12-Week Health Campaign feature gives employers the liberty to usher workplace wellness by assigning different health challenges and tasks specially designed by our certified fitness experts each week to help your employees take up a healthy lifestyle. </p>
        </div>
        
        </div>
      </div>
    </div>
  </section>
  <!--Stay and Fit-->
  <section class="section_space" style="padding-bottom:0px">
    <div  style="background:#e8fcfa">
    <div class="container custom-container">
      <div class="row title_second column-change">
        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
          <div class=" wow fadeInDown animated">
            <h3><span>Keep your employees</span> stay fit and productive.</h3>
            <p>Launch a successful employee wellness program with Vantage Fit today.</p> 
            <br>
            <div class="button-black transform ">
              <a href="/request-demo" class="button-style banner_btn">Request Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 image-change text-center">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/build-a-healthy-workforce.png" alt="Stay fit" style="width:80%">
        </div>
        
      </div>
    </div>
  </div>
  </section>
  
  <!--test

<div class="progressbar" data-animate="false">
    <div class="circle" data-percent="91">
        <div></div>
    </div>
</div>
<div class="progressbar" data-animate="false">
    <div class="circle" data-percent="61">
        <div></div>
    </div>
</div>
<div class="progressbar" data-animate="false">
    <div class="circle" data-percent="22">
        <div></div>
    </div>
</div>
<div class="progressbar" data-animate="false">
    <div class="circle" data-percent="49">
        <div></div>
    </div>
</div>

-->

	
<!--{{content}}-->
</div>
{{/page}}
<script>
/*$(document).ready(function ($) {
    function animateElements() {
        $('.progressbar').each(function () {
            var elementPos = $(this).offset().top;
            var topOfWindow = $(window).scrollTop();
            var percent = $(this).find('.circle').attr('data-percent');
            var percentage = parseInt(percent, 10) / parseInt(100, 10);
            var animate = $(this).data('animate');
            if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
                $(this).data('animate', true);
                $(this).find('.circle').circleProgress({
                    startAngle: -Math.PI / 2,
                    value: percent / 100,
                    thickness: 5,
                    fill: {
                        color: '#05c8ad'
                    }
                }).on('circle-animation-progress', function (event, progress, stepValue) {
                    $(this).find('div').text((stepValue*100).toFixed(1) + "%");
                }).stop();
            }
        });
    }

    // Show animated elements
    animateElements();
    $(window).scroll(animateElements);
});
*/


(function($) {
  $.fn.circleGraphic = function(options) {
    $.fn.circleGraphic.defaults = {
      color: '#05c8ad',
      startAngle: 0,
      //endAngle:50
    };
    $(this).each(function() {
      let $this = $(this)
      var opts = $.extend({}, $.fn.circleGraphic.defaults, options);
      var percentage = $(this).find('.circle').attr('data-percent');
      //var percentage = $this.html();
      var ID = "c" + percentage + Math.random();
      $this.append("<canvas width='200' height='200' id='" + ID + "'></canvas>");
      var canvas = document.getElementById(ID),
      context = canvas.getContext('2d');
      var Width = $this.width();
      $this.height(Width);
      var Height = $this.height();

      canvas.width = Width;
      canvas.height = Height;
      var startAngle = opts.startAngle,
        endAngle = percentage / 100,
        angle = startAngle,
        radius = Width * 0.4;

      function drawTrackArc() {
        context.beginPath();
        context.strokeStyle = '#ecfdfb';
        context.lineWidth = 7;
        context.arc(Width / 2, Height / 2, radius, (Math.PI / 180) * (startAngle * 360 - 90), (Math.PI / 180) * (endAngle * 360 + 270), false);
        context.stroke();
        context.closePath();
      }

      function drawOuterArc(_angle, _color) {
        var angle = _angle;
        var color = _color;
        context.beginPath();
        context.strokeStyle = color;
        context.lineWidth = 7;

        context.font = '300 70px Poppins,sans-serif';
        context.arc(Width / 2, Height / 2, radius, (Math.PI / 180) * (startAngle * 360 - 90), (Math.PI / 180) * (angle * 360 - 90), false);
        context.stroke();
        context.closePath();
      }

      function numOfPercentage(_angle, _color) {
        var angle = Math.ceil(_angle * 100);
        var color = _color;
        context.fillStyle = '#4a5269';
        var metrics = context.measureText(angle);
        var textWidth = metrics.width;
        var xPos = Width / 2 - textWidth / 2,
          yPos = Height / 2 + textWidth / 2;
          console.log(context);
          console.log(yPos);
          context.textAlign ='center';
          context.direction = 'ltr'
        context.fillText(angle + "%", 137, 157);
      }

      function drawACircleInTheEnd() {
        let radians = angle * 2 * Math.PI;
        context.beginPath();
        context.arc(Width / 2 + radius * (Math.sin(radians)),
          Height / 2 - radius * (Math.cos(radians)),
          3,
          0,
          2 * Math.PI,
          false);

        context.fillStyle = '#05c8ad';
        context.fill();
        context.lineWidth = 7;
        context.strokeStyle = '#05c8ad';
        context.stroke();
      }
	      

      function draw() {
        var loop = setInterval(function() {
        var elementPos = $('.circleGraphic').offset().top;
			  var topOfWindow = $(window).scrollTop();
			  var animate = $('.circleGraphic').data('animate');
			   if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
		          context.clearRect(0, 0, Width, Height);
		          drawTrackArc();
		          drawOuterArc(angle, opts.color);
		          numOfPercentage(angle, opts.color);
		          drawACircleInTheEnd();
		          angle += 0.01;
		          if (angle > endAngle) {
		            clearInterval(loop);
		          }
	         }

        }, 1000 / 60);
      }
      draw();
      return $this;
    })
  };
})(jQuery);
$('.circleGraphic').circleGraphic();
</script>
