{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}



<div class="elementor">
    <section  class="n_hero_banner_area" id="home">
       <svg id="hero_shape2_normal" xmlns="" xmlns:xlink="">
          <defs>
             <linearGradient id="PSgrad_0" x1="0%" x2="76.604%" y1="64.279%" y2="0%">
                <stop offset="0%" stop-color="#F59C94" stop-opacity=".3"></stop>
                <stop offset="100%" stop-color="#F59C94" stop-opacity=".3"></stop>
             </linearGradient>
          </defs>
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M0.000,246.000 C0.000,246.000 326.728,190.237 710.653,123.017 C937.017,83.384 1398.662,3.976 1398.662,3.976 C1398.662,3.976 1524.189,5.641 1668.565,26.591 C1813.299,47.594 1920.000,84.745 1920.000,84.745 L1920.000,323.000 L0.000,323.000 L0.000,246.000 Z"></path>
          <path fill="url(#PSgrad_0)" d="M0.000,323.249 C0.000,-57.945 0.000,623.445 0.000,242.251 C0.000,242.251 141.533,218.272 347.776,183.613 C479.132,161.538 636.827,133.656 800.746,105.827 C943.681,81.561 1097.680,52.804 1239.269,28.559 C1291.889,19.548 1358.059,5.849 1393.180,1.251 C1434.086,-4.103 1581.001,11.184 1661.097,24.221 C1818.678,49.869 1920.000,84.251 1920.000,84.251 L1920.000,190.407 C1813.062,96.085 1433.376,28.053 1285.064,28.053 L0.000,323.249 Z"></path>
       </svg>
       <div class="container custom-container">
          <div class="row column-change ipadcolumn-change">
             <div class="col-lg-7 col-md-12 left_pclr">
                <div class="n_banner_content">
                   <h1 class=" wow fadeInUp " data-wow-delay=".3s" style="visibility: visible;  -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;">Revolutionize Your Corporate Wellness Program</h1>
                    <p class="wow fadeInUp " data-wow-delay=".4s" style="visibility: visible;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;animation-name: fadeInUp;">
                        Give your employees the best workplace experience with an engaging corporate wellness program. Get them moving and encourage a healthy lifestyle for better productivity with Vantage Fit.
                      </p>
                      <div class="app_downloadbanner abtesting">
                        <div class=" transform button-style dwnload_app">
                          <a href="https://apps.apple.com/in/app/vantage-fit/id1393594182" target="_blank">
                            <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_186/v1580904957/VantageFit/website/appstore.png" alt="ios" class="donloadappimg lozad">
                          </a>
                        </div>
                        <div class=" transform button-style dwnload_app">
                          <!--<a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagecircle&amp;hl=en" target="_blank">-->
                            <a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagefit.v_fit" target="_blank">
                              <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_186/v1580904957/VantageFit/website/googleplay.png" alt="playstore"  class="donloadappimg lozad">
                            </a>              
                        </div>
                     </div>
                      <div class="action_btn d-flex align-items-center mt_40 mb_40 ">
                          <a href="https://go.vantagefit.io/get-a-demo/" class="vc_button banner_btn button-style button_width"> Request Demo  </a> 
                          <a class="popupyoutubevideo popup-youtube banner_btn white_button button-style button_width" href="https://www.youtube.com/watch?v=fVhfKMo3H80" style="margin-left: 20px;">
                             <div class=""> <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_19/v1580904957/VantageFit/website/play-button.png" class="lozad" alt="freedownload"><span style="color: #ffffff;">&nbsp;&nbsp;Watch Video </span></div>
                          </a>
                       </div>
                </div>
             </div>
             <div class="col-lg-4 offset-lg-1 col-md-12" style="position:relative">
                <div class="mobile_img wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible;  -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInRight;">
                  <img class="mobile_banner lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_410/v1597380700/VantageFit/website/vantagefit-devices_compress.png" alt="Mobile App" > 
                  <img class="vfit hidden-xs hidden-sm hidden-sml lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_360/v1597380700/VantageFit/website/vantage-fit-person_compress.png" alt="VFit">
                </div>
             </div>
             <div class="shape_images hidden-xs hidden-sm">
                <img class="lines lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_600/v1580904957/VantageFit/website/lines.png" alt="lines" > 
                <img class="pulse lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_300/v1580904957/VantageFit/website/heart-lines.png" alt="pulse">
             </div>
          </div>
       </div>
    </section>
    <!--progress bar section-->
    <section class="section_space">
        <div class="container custom-container">
            <div class="row  wow fadeInUp " data-wow-delay=".3s" style="visibility: visible;  -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><h2 class="title_head text-center title_spc">Corporate Wellness Program Statistics</h2></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="91"></div></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="60"></div></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="27"></div></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="61"></div></div>
            </div>
        </div>
        <div class="container custom-container">
            <div class="row wellnessprogram">
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Motivated <span>Workforce</span></div><p>
              91% of employees that work in companies that prioritize workplace wellness say that they feel motivated and focused at work.</p></div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Reduced Health <span>Care Costs</span></div><p>60% of surveyed employers reported that implementing employee wellness programs helped reduce the healthcare costs for employees.</p></div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Decreased <span>Absenteeism</span></div><p>Implementing workplace wellness measures can help employers bring down employee absenteeism due to health related issues by 27%.</p></div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Healthier <span>Lives</span></div><p>61% of employees agreed that they had made healthier lifestyle choices because of their company’s employee wellness program. </p> </div>
            </div>
        </div>
    </section>
  <!-- content and image-->
  <section class="section_space">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp title_spc" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;"><span>How Corporate Wellness Program</span><br>
        Can Help Your Organisation</div></div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex align_items_center">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 content_benefits ">
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <div class="innertext">Increase Productivity</div>
                  <p>An employee’s productivity is determined by how healthy they are, both physically and mentally. Vantage Fit packs in various health challenges and tasks for helping your employees take up healthy habits and boost their productivity. Our app also enables the organizations to assign various health tasks to your employees, thereby encouraging them to stay healthy and fit.</p>
                </div>
              </div>
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <div class="innertext">Decrease Absenteeism</div>
                  <p>Employee absenteeism has been a major problem across many organizations. Most of the time, this issue arises due to various health-related issues that your employees may face. However, with a corporate wellness program at your disposal, you can mitigate it by encouraging your employees to take up healthy habits. And that’s what our app does!</p>
                </div>  
              </div>
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <div class="innertext">Enhance Company Culture</div>
                  <p>The success of any organization is highly determined by its overall workplace culture. Our corporate wellness program delivered through Vantage Fit helps you promote a culture of health and wellbeing across your company. Thus, enhancing your company culture by nurturing a healthy and engaged workforce.</p>
                </div>            
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm" >
            <div class="wow fadeInRight text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;"> 
              <img class=" image-fit mob_image lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/corporate-wellness-organisation-compress.png" alt="wellness">
            </div>
          </div>
      </div>
    </div>
  </section>
        <!--second content-->
    <section class="section_space mob-section">
    <div class="container">
      <div class="">
        <div class="row d-flex align_items_center">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm">
            <div class="wow fadeInLeft text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInLeft;"> 
              <img class="mob_image lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/increase-engagement-compress.png" alt="engagement">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 content_benefits ">
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;">
                <div class="rel_text ">
                  <div class="innertext">Promote Healthy Habits</div>
                  <p>Every great thing begins with adopting healthy habits, and workplace wellness programs are specially designed for this purpose. By initiating a wellness program in your organization, you can help your employees develop healthy habits and transform their lifestyles both at home and work.</p>
                </div>
              </div>
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                <div class="rel_text">
                  <div class="innertext">Increase Employee Engagement</div>
                  <p>Highly engaged employees are the backbone of successful corporations. A workplace wellness program helps you create an engaging atmosphere around your organization to boost your employees’ morale. It is when your employees feel physically and mentally fit, they will give their best performance.</p>
                </div>  
              </div>
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInRight;">
                <div class="rel_text">
                  <div class="innertext">Reduce Healthcare Costs</div>
                  <p>Every year, companies around the globe pay a hefty sum for providing subsidized insurance plans and other health benefits to their employees. But, encouraging your workforce to adopt healthy habits within their work-life will surely bring down the overall employee healthcare costs.</p>
                </div>            
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--features at a glance-->
  <section class="section_space">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp animated " data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;margin-bottom:10px">Features at a Glance</div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class=" text-center wow fadeInUp animated title_spc secondarytext" data-wow-delay=".6s" style="visibility: visible; animation-delay: .6s; animation-name: fadeInUp;">Here’s a quick look at some of the key features of Vantage Fit.</p>
        </div>
        <div class="row_elementor features title_spc">
          <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 left-activity">
            <div data-img="activity" class="box_item wow fadeInUp animated first_active active-sec" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;animation-name: fadeInUp;">
              <div class="featuresimg">
                <div class="sprite first-image activebox hidden-xs hidden-sm activitytracker"></div>
                <div class="sprite second-image hidden-xs hidden-sm activitytrackeractive"></div>
                <!--<img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/activitytracker.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="activity">
                <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-activitytracker.png" class="second-image hidden-xs hidden-sm lozad" alt="activity">-->
              </div>
              <div class="featurestext">
                <div class="trackertext">Activity &<br> Calorie Tracker</div>
              </div>
            </div>
            <div data-img="heartrate" class="box_item wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <div class="sprite first-image activebox hidden-xs hidden-sm heartmonitor"></div>
                <div class="sprite second-image hidden-xs hidden-sm heartmonitoractive"></div>
               <!-- <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/heartratemonitor.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="heartrate">
                <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-heartratemonitor.png" class="second-image hidden-xs hidden-sm lozad" alt="heartrate">-->
              
              </div>
              <div class="featurestext">
                <div class="trackertext">Heart Rate<br> Monitor</div>
              </div>
            </div>
            <div data-img="health" class="box_item wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; a-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInUp;">
              <div class="featuresimg">
                 <div class="sprite first-image activebox hidden-xs hidden-sm wearabledev"></div>
                <div class="sprite second-image hidden-xs hidden-sm wearabledevactive"></div>
                <!--<img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/wearabledevices.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="health">
                <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-wearabledevices.png" class="second-image hidden-xs hidden-sm lozad" alt="health">-->
              </div>
              <div class="featurestext">
                <div class="trackertext">Wearable<br> Devices</div>
              </div>
            </div>
            <div data-img="contest" class="box_item wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <div class="sprite first-image activebox hidden-xs hidden-sm contestchallenges"></div>
                <div class="sprite second-image hidden-xs hidden-sm contestchallengesactive"></div>
               <!-- <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1597380700/VantageFit/website/contest-challenges.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="contest">
                <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-contest-challenges.png" class="second-image hidden-xs hidden-sm lozad" alt="contest">-->
              </div>
              <div class="featurestext">
                <div class="trackertext">Contest and<br> Challenges</div>
              </div>
            </div>
          </div>

          <!--mid sec-->

          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 mid-activity hidden-xs hidden-sm">
            <div id="activity">
              <img class="img-responsive Image-Overlay active-img lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/activity-calorie_compress.png" alt="activity">
              
            </div>
            <div id="heartrate">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/heart-rate_compress.png" alt="heartrate">
            </div>
            <div id="health">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/wearable-devices_compress.png" alt="health dairy">
            </div>
            <div id="contest">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/contest-challenge_compress.png" alt="contest">
            </div>
            <div id="assessment">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/health-risk-assesment_compress.png" alt="contest">
            </div>
            <div id="meter">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/mood-o-meter_compress.png" alt="moodometer">
            </div>
            <div id="redeem">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/fitness-points_compress.png" alt="fitnesspoints">
            </div>
            <div id="leaderboard">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/realtime-leaderboard_compress.png" alt="leaderboard">
            </div>
          </div>

          <!--right sec-->

          <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 right-activity">
            <div data-img="assessment" class="box_item wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="featuresimg">
                 <div class="sprite first-image activebox hidden-xs hidden-sm healthrisk"></div>
                <div class="sprite second-image hidden-xs hidden-sm healthriskactive"></div>
                <!--<img  data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/hra.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="assessment">
                <img  data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-hra.png" class="second-image hidden-xs hidden-sm lozad" alt="assessment">-->
              </div>
              <div class="featurestext">
                <div class="trackertext">Health Risk<br> Assessment</div>
              </div>
            </div>
            <div data-img="meter" class="box_item wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <div class="sprite first-image activebox hidden-xs hidden-sm moodometer"></div>
                <div class="sprite second-image hidden-xs hidden-sm moodometeractive"></div>
                <!--<img  data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/moodtracker.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="mood">
                <img  data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-moodtracker.png" class="second-image  hidden-xs hidden-sm lozad" alt="mood">-->
              </div>
              <div class="featurestext">
                <div class="moodmeter trackertext">Mood-o-meter</div>
              </div>
            </div>
            <div data-img="redeem" class="box_item wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <div class="sprite first-image activebox hidden-xs hidden-sm redeemfitness"></div>
                <div class="sprite second-image hidden-xs hidden-sm redeemfitnessactive"></div>
                <!--<img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/fitnesspoint.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="fitnesspoints">
                <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-fitnesspoint.png" class="second-image  hidden-xs hidden-sm lozad" alt="fitnesspoints">-->
              </div>
              <div class="featurestext">
                <div class="trackertext">Redeemable<br> Fitness Points</div>
              </div>
            </div>
            <div data-img="leaderboard" class="box_item wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;animation-name: fadeInUp;">
              <div class="featuresimg">
                <div class="sprite first-image activebox hidden-xs hidden-sm leaderboardrealtime"></div>
                <div class="sprite second-image hidden-xs hidden-sm leaderboardrealtimeactive"></div>
                <!--<img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/leaderboard.png" class="first-image activebox hidden-xs hidden-sm lozad" alt="leaderboard">
                <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_35/v1580904957/VantageFit/website/active-leaderboard.png" class="second-image hidden-xs hidden-sm lozad" alt="leaderboard">-->
              </div>
              <div class="featurestext">
                <div class="trackertext">Realtime<br> Leaderboard</div>
              </div>
            </div>
            
          </div>
          <!--right section ends-->
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class=" text-center wow fadeInUp animated " data-wow-delay=".3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="/features" class="vc_active">Learn More <span class="fa fa-long-arrow-right" style="vertical-align:middle"></span></a></div>
        </div>
      </div>
    </div>
  </section>
  <!--video section-->
  <section class="video_area section_space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
        Check out how Vantage Fit helps you</div></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class=" text-center wow fadeInUp animated title_spc secondarytext" data-wow-delay=".6s" style="visibility: visible; animation-delay: .6s; animation-name: fadeInUp;">A perfect app that addresses more than just health</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="video_content">
             <div class="video_info">
                <div class="ovarlay_color"></div>
                <a class="popupvideosection" href="https://www.youtube.com/watch?v=fVhfKMo3H80">
                  <div class="wrapper">
                    <div class="iconplay d-flex align_items_center"><!--<div class="sprite playicon"></div>--><i class="fa fa-play"></i></div>
                  </div>
                </a>
             </div>
           </div>
         </div>
      </div>    
    </div>
  </section>
  <!--video ends-->
  <!--Healthy workforce-->
 <section class="section_space  hidden-xs hidden-sm" style="padding-top:0px">
    <div  style="background:#e8fcfa">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthyworkforce">
          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_500/v1597380700/VantageFit/website/person-running-corporate-wellness_compress.png"  alt="Request Demo" class="mob_image lozad">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
          <div class="title_second">
            <h3 class="second_heading"><span>Build a</span> Healthy Workforce!</h3>
            <p>Download Vantage Fit app today.</p>
            <div class="store-icons">
              <!--new-->
              <div class="app_downloadbanner index_download">
                      <div class=" transform button-style dwnload_app">
                        <a href="https://apps.apple.com/in/app/vantage-fit/id1393594182" target="_blank">
                          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_186/v1580904957/VantageFit/website/appstore.png" alt="ios" class="buildapp lozad">
                        </a>
                      </div>
                      <div class=" transform button-style dwnload_app">
                        <!--<a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagecircle&amp;hl=en" target="_blank">-->
                          <a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagefit.v_fit" target="_blank">
                          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_186/v1580904957/VantageFit/website/googleplay.png" alt="playstore" class="buildapp lozad">
                          </a>              
                      </div>
                   </div>
              <!--ends-->
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </section>

  <!--Admin dashboard-->
  <section class="section_space" >
    <div class="container">
      <div class="row column-change d-flex align_items_center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <div class="title_head default-spc"><span>Intuitive </span><br>Admin Dashboard</div>
          <p>Vantage Fit includes a highly advanced and intuitive dashboard that allows managers to create and run various health challenges for their employees and view the real-time progress of each employee.</p>
          <div class="image-content">
            
           <div> <div class="sprite configureicon realicon hidden-xs hidden-sm"></div><!--<span><img class="lozad" data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_20/v1580904957/VantageFit/website/createcontest.png" alt="createcontest" ></span>--> Create and Configure Wellness Contests</div>
            <div><div class="sprite realtimeprogress realicon  hidden-xs hidden-sm"></div><!--<span><img src="https://res.cloudinary.com/vantagecircle/image/upload/w_20/v1580904957/VantageFit/website/trackrealtime.png" alt="progress" ></span>-->Track Real-time Progress</div>
            <div><div class="sprite healthinsignts realicon  hidden-xs hidden-sm"></div><!--<span><img src="https://res.cloudinary.com/vantagecircle/image/upload/w_20/v1580904957/VantageFit/website/health.png" alt="metrics"></span>--> Health Insights and Metrics</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInRight animated animated text-center image-change" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1597380700/VantageFit/website/admindashboard_compress.png" alt="admindashboard" class="mob_image image-fit lozad">
        </div>
        </div>
      </div>
    </div>
  </section>
  <!--corporate wellness-->
  <section class="section_space">
    
    <div  class="wellness-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-right mob-pull">
          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_268/v1597380700/VantageFit/website/_guide-to-corporate-wellness_compress.png" alt="wellnessprogram" class="downloadbook hidden-xs lozad">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
          <div class="title_second">
              <div style="margin-bottom:10px"><strong class="guide">A COMPLETE GUIDE TO</strong></div>
              <strong class="second_heading" style="color:#ffffff">Corporate<br> Wellness Programs</strong>
          </div>
          <div class="transform">
            <a class="popup-youtube banner_btn white_button button-style" href="https://go.vantagefit.io/free-ebook-corporate-wellness-program/">
               <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_15/v1580904957/VantageFit/website/download.png" alt="freedownload" class="hidden-xs hidden-sm lozad"> <span style="color: #ffffff;">&nbsp;&nbsp;Free Download </span>
            </a>
          </div>
        </div>
      </div>
      <div class="images-wellness hidden-xs hidden-sm hidden-sml">
        <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/dumbell.png" class="img-1 lozad" alt="wellnessprogram">
        <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/cycle.png" class="img-2 lozad" alt="wellnessprogram">
        <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/food.png" class="img-3 lozad" alt="wellnessprogram">
        <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/shoe.png" class="img-4 lozad" alt="wellnessprogram">

      </div>
    </div>
    </div>
    
    <div class="welness-bottom hidden-xs">
    </div>
  </section>
  <!--12 week campaign-->
  <section class="section_space" >
    <div class="container">
      <div class="row d-flex align_items_center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInLeft animated animated text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/v1597724811/VantageFit/website/week-campaign-12_compress.png" alt="campaign" class="mob_image lozad">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <div class="title_head default-spc"><span>12 Week</span><br> Campaign</div>
          <p>Vantage Fit’s unique 12-Week Health Campaign feature gives employers the liberty to usher workplace wellness by assigning different health challenges and tasks specially designed by our certified fitness experts each week to help your employees take up a healthy lifestyle. </p>
        </div>
        
        </div>
      </div>
    </div>
  </section>
  <!--Stay and Fit-->
  <section class="section_space">
    <div  style="background:#e8fcfa">
    <div class="container custom-container">
      <div class="row d-flex align_items_center title_second column-change">
        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
          <div class=" wow fadeInDown animated">
            <h4 class="second_heading"><span>Keep your employees</span> fit and productive.</h4>
            <p>Launch a successful employee wellness program with Vantage Fit today.</p> 
            <br>
            <div class="button-black transform ">
              <a href="https://go.vantagefit.io/get-a-demo" class="button-style banner_btn">Request Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 image-change text-center">
          <img data-src="https://res.cloudinary.com/vantagecircle/image/upload/w_250/v1597380700/VantageFit/website/build-a-healthy-workforce_compress.png" alt="Stay fit" class="lozad hidden-xs">
        </div>
        
      </div>
    </div>
  </div>
  </section>
  <!--Blog section-->
  <section class="section_space">
    <div class="container custom-container">
      <div class="title_head title_spc text-center wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">The Vantage Fit Blog</div>
          <div id="search_field"></div>
    </div>
  </section>
</div>

