{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}



<div class="elementor">
    <section  class="n_hero_banner_area" id="home">
       <svg id="hero_shape2_normal" xmlns="" xmlns:xlink="">
          <defs>
             <linearGradient id="PSgrad_0" x1="0%" x2="76.604%" y1="64.279%" y2="0%">
                <stop offset="0%" stop-color="#F59C94" stop-opacity=".3"></stop>
                <stop offset="100%" stop-color="#F59C94" stop-opacity=".3"></stop>
             </linearGradient>
          </defs>
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M0.000,246.000 C0.000,246.000 326.728,190.237 710.653,123.017 C937.017,83.384 1398.662,3.976 1398.662,3.976 C1398.662,3.976 1524.189,5.641 1668.565,26.591 C1813.299,47.594 1920.000,84.745 1920.000,84.745 L1920.000,323.000 L0.000,323.000 L0.000,246.000 Z"></path>
          <path fill="url(#PSgrad_0)" d="M0.000,323.249 C0.000,-57.945 0.000,623.445 0.000,242.251 C0.000,242.251 141.533,218.272 347.776,183.613 C479.132,161.538 636.827,133.656 800.746,105.827 C943.681,81.561 1097.680,52.804 1239.269,28.559 C1291.889,19.548 1358.059,5.849 1393.180,1.251 C1434.086,-4.103 1581.001,11.184 1661.097,24.221 C1818.678,49.869 1920.000,84.251 1920.000,84.251 L1920.000,190.407 C1813.062,96.085 1433.376,28.053 1285.064,28.053 L0.000,323.249 Z"></path>
       </svg>
       <div class="container custom-container">
          <div class="row column-change ipadcolumn-change">
             <div class="col-lg-7 col-md-12 left_pclr">
                <div class="n_banner_content">
                   <h1 class=" wow fadeInUp " data-wow-delay=".3s" style="visibility: visible;  -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;">Revolutionize Your Corporate Wellness Program</h1>
                    <p class="wow fadeInUp " data-wow-delay=".4s" style="visibility: visible;  -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;animation-name: fadeInUp;">
                        Give your employees the best workplace experience with an engaging corporate wellness program. Get them moving and encourage a healthy lifestyle for better productivity with Vantage Fit.
                      </p>
                      <div class="abtesting">
                    <div class="action_btn d-flex align-items-center mt_40 mb_40 wow fadeInLeft " data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInLeft;">
                      <a href="/request-demo" class="vc_button banner_btn button-style button_width"> Get in Touch </a> 
                      <a class="popupyoutubevideo popup-youtube banner_btn white_button button-style button_width" href="https://www.youtube.com/watch?v=fVhfKMo3H80" style="margin-left: 20px;">
                         <div class=""> <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/play-button.png" alt="freedownload" style="width:19px;height:10%"><span style="color: #ffffff;">&nbsp;&nbsp;Watch Video </span></div>
                      </a>
                   </div>
                 </div>
                   <div class="app_downloadbanner ">
                      <div class=" transform button-style dwnload_app">
                        <a href="https://apps.apple.com/in/app/vantage-fit/id1393594182" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" width="" height="53" viewBox="0 0 180 53">
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#0B0B0A" d="M179.648 47.39c0 2.903-2.31 5.255-5.167 5.255H5.374C2.518 52.645.2 50.293.2 47.39V5.483C.2 2.581 2.518.221 5.374.221h169.105c2.86 0 5.168 2.36 5.168 5.262V47.39h.001"/>
                                <path fill="#FFFFFE" d="M39.606 26.145c-.039-4.422 3.557-6.574 3.722-6.675-2.037-3.023-5.193-3.436-6.303-3.468-2.65-.284-5.222 1.615-6.573 1.615-1.377 0-3.458-1.587-5.698-1.54-2.883.045-5.583 1.745-7.063 4.385-3.054 5.382-.776 13.292 2.15 17.643 1.464 2.13 3.174 4.51 5.411 4.426 2.19-.093 3.009-1.423 5.653-1.423 2.619 0 3.387 1.423 5.67 1.37 2.35-.04 3.83-2.14 5.243-4.29 1.692-2.444 2.371-4.85 2.398-4.973-.055-.018-4.565-1.77-4.61-7.07M35.294 13.14c1.176-1.5 1.982-3.54 1.758-5.61-1.705.077-3.837 1.2-5.063 2.667-1.087 1.293-2.057 3.411-1.806 5.403 1.915.146 3.881-.983 5.11-2.46M66.06 34.612l-1.517-4.767c-.16-.488-.46-1.635-.905-3.441h-.053a134.5 134.5 0 0 1-.852 3.441l-1.489 4.767h4.816zm5.243 7.613h-3.061l-1.677-5.363H60.74l-1.598 5.363h-2.98l5.774-18.26h3.567l5.8 18.26zM83.224 35.587c0-1.281-.283-2.338-.852-3.17-.621-.865-1.454-1.3-2.501-1.3-.71 0-1.354.242-1.93.719-.576.479-.953 1.106-1.13 1.884-.089.36-.133.658-.133.892v2.195c0 .958.288 1.766.865 2.424.577.66 1.326.99 2.248.99 1.082 0 1.926-.426 2.529-1.274.602-.849.904-1.969.904-3.36zm2.927-.107c0 2.24-.594 4.01-1.783 5.309-1.065 1.156-2.385 1.734-3.965 1.734-1.702 0-2.926-.623-3.671-1.87h-.054v6.936h-2.874V33.393c0-1.407-.036-2.852-.106-4.334h2.527l.16 2.087h.054c.957-1.573 2.413-2.357 4.363-2.357 1.527 0 2.8.613 3.82 1.841 1.02 1.23 1.53 2.846 1.53 4.85zM98.1 35.587c0-1.281-.285-2.338-.852-3.17-.622-.865-1.454-1.3-2.502-1.3-.71 0-1.353.242-1.93.719-.575.479-.951 1.106-1.13 1.884a3.96 3.96 0 0 0-.133.892v2.195c0 .958.289 1.766.863 2.424.577.66 1.328.99 2.25.99 1.083 0 1.925-.426 2.528-1.274.604-.849.906-1.969.906-3.36zm2.927-.107c0 2.24-.594 4.01-1.784 5.309-1.064 1.156-2.386 1.734-3.964 1.734-1.704 0-2.928-.623-3.672-1.87h-.054v6.936H88.68V33.393c0-1.407-.037-2.852-.107-4.334h2.529l.159 2.087h.054c.957-1.573 2.41-2.357 4.363-2.357 1.524 0 2.799.613 3.82 1.841 1.018 1.23 1.529 2.846 1.529 4.85zM117.659 37.106c0 1.552-.53 2.815-1.593 3.791-1.169 1.067-2.796 1.598-4.886 1.598-1.929 0-3.477-.378-4.649-1.137l.666-2.438a7.771 7.771 0 0 0 4.154 1.165c1.082 0 1.925-.249 2.53-.747.604-.496.903-1.162.903-1.995 0-.74-.247-1.365-.745-1.871-.495-.506-1.321-.977-2.474-1.412-3.14-1.192-4.71-2.939-4.71-5.237 0-1.5.551-2.73 1.651-3.69 1.097-.959 2.56-1.437 4.391-1.437 1.632 0 2.988.288 4.07.865l-.72 2.385c-1.01-.56-2.153-.84-3.432-.84-1.011 0-1.8.253-2.367.759a2.186 2.186 0 0 0-.718 1.653c0 .722.273 1.319.825 1.787.478.435 1.347.904 2.608 1.41 1.543.633 2.676 1.372 3.406 2.22.727.85 1.09 1.907 1.09 3.171M127.16 31.254h-3.168v6.393c0 1.626.558 2.438 1.677 2.438.513 0 .94-.046 1.278-.135l.078 2.222c-.566.215-1.31.323-2.235.323-1.135 0-2.022-.352-2.662-1.055-.636-.705-.958-1.888-.958-3.55v-6.636h-1.887V29.06h1.887v-2.41l2.822-.868v3.278h3.168v2.195M138.469 35.628c0-1.213-.256-2.254-.772-3.124-.603-1.05-1.464-1.575-2.58-1.575-1.155 0-2.033.524-2.635 1.575-.516.87-.771 1.928-.771 3.18 0 1.213.255 2.255.771 3.123.621 1.05 1.49 1.576 2.61 1.576 1.096 0 1.958-.534 2.579-1.603.531-.886.798-1.939.798-3.152zm2.981-.094c0 2.023-.567 3.685-1.702 4.984-1.19 1.337-2.77 2.005-4.739 2.005-1.898 0-3.408-.64-4.535-1.924-1.127-1.281-1.69-2.899-1.69-4.849 0-2.04.58-3.711 1.742-5.01 1.16-1.301 2.727-1.951 4.696-1.951 1.9 0 3.425.64 4.579 1.923 1.1 1.246 1.65 2.853 1.65 4.822zM150.79 31.632a4.896 4.896 0 0 0-.905-.08c-1.011 0-1.793.388-2.343 1.165-.48.686-.718 1.553-.718 2.6v6.908h-2.872l.025-9.02c0-1.519-.036-2.9-.107-4.146h2.504l.105 2.519h.078c.303-.866.783-1.563 1.438-2.084.639-.47 1.332-.705 2.077-.705.266 0 .506.019.718.053v2.79M160.902 34.26c.019-.867-.169-1.615-.558-2.248-.498-.813-1.262-1.219-2.29-1.219-.94 0-1.704.397-2.287 1.193-.48.632-.765 1.39-.85 2.274h5.985zm2.74.76c0 .523-.034.965-.105 1.326h-8.62c.033 1.3.45 2.295 1.248 2.981.727.614 1.668.921 2.82.921 1.276 0 2.44-.209 3.488-.624l.45 2.032c-1.223.542-2.668.813-4.336.813-2.005 0-3.58-.6-4.725-1.802-1.141-1.201-1.716-2.813-1.716-4.836 0-1.986.531-3.64 1.599-4.957 1.116-1.409 2.624-2.113 4.522-2.113 1.864 0 3.275.704 4.233 2.113.76 1.12 1.142 2.503 1.142 4.145zM63.62 12.773c0-1.047-.272-1.85-.818-2.41-.544-.558-1.34-.838-2.385-.838-.445 0-.825.032-1.138.093v6.708c.174.028.492.04.954.04 1.081 0 1.915-.306 2.504-.918.588-.612.883-1.504.883-2.675zm1.49-.04c0 1.615-.475 2.83-1.425 3.647-.882.753-2.131 1.13-3.752 1.13-.802 0-1.491-.035-2.067-.105V8.58c.751-.124 1.56-.186 2.433-.186 1.542 0 2.707.342 3.491 1.025.879.771 1.32 1.876 1.32 3.314zM71.541 14.19c0-.595-.126-1.107-.38-1.534-.295-.517-.718-.775-1.267-.775-.567 0-.998.258-1.295.775-.252.427-.379.947-.379 1.56 0 .597.127 1.109.379 1.537.306.514.732.772 1.282.772.54 0 .962-.262 1.268-.786.262-.436.392-.952.392-1.549zm1.465-.047c0 .995-.279 1.81-.837 2.45-.585.657-1.36.985-2.327.985-.933 0-1.676-.315-2.23-.946-.552-.63-.83-1.424-.83-2.382 0-1.003.285-1.823.856-2.462.571-.64 1.34-.958 2.307-.958.934 0 1.682.315 2.25.945.539.612.811 1.402.811 2.368zM83.595 10.963l-1.988 6.468h-1.293l-.825-2.809a21.237 21.237 0 0 1-.51-2.09h-.025c-.123.711-.292 1.408-.51 2.09l-.877 2.809H76.26l-1.87-6.468h1.452l.718 3.073c.174.729.319 1.42.433 2.078h.024c.105-.541.28-1.23.525-2.064l.901-3.087h1.15l.864 3.021c.209.737.379 1.446.51 2.13h.038c.096-.666.24-1.375.433-2.13l.771-3.021h1.386M90.917 17.43h-1.412v-3.704c0-1.141-.426-1.712-1.28-1.712-.42 0-.76.158-1.021.472a1.679 1.679 0 0 0-.392 1.109v3.836h-1.413v-4.619c0-.568-.017-1.184-.05-1.85h1.24l.066 1.012h.04c.164-.314.41-.575.731-.78a2.344 2.344 0 0 1 1.28-.364c.594 0 1.087.195 1.48.586.487.479.731 1.192.731 2.141v3.874M93.401 17.43h1.411V7.996h-1.41zM101.662 14.19c0-.595-.127-1.107-.379-1.534-.295-.517-.72-.775-1.267-.775-.569 0-1 .258-1.295.775-.252.427-.379.947-.379 1.56 0 .597.127 1.109.379 1.537.306.514.732.772 1.282.772.54 0 .96-.262 1.267-.786.262-.436.392-.952.392-1.549zm1.466-.047c0 .995-.279 1.81-.837 2.45-.585.657-1.361.985-2.327.985-.934 0-1.677-.315-2.23-.946-.552-.63-.829-1.424-.829-2.382 0-1.003.285-1.823.855-2.462.571-.64 1.341-.958 2.306-.958.935 0 1.682.315 2.25.945.541.612.812 1.402.812 2.368zM108.498 15.208v-.997c-1.558-.028-2.337.407-2.337 1.303 0 .338.089.59.27.759a.978.978 0 0 0 .69.252c.31 0 .6-.099.863-.299a1.22 1.22 0 0 0 .514-1.018zm1.466 2.223h-1.268l-.106-.745h-.04c-.434.594-1.052.892-1.855.892-.6 0-1.084-.195-1.45-.586-.332-.356-.498-.795-.498-1.317 0-.79.323-1.393.974-1.812.65-.415 1.564-.62 2.74-.611v-.12c0-.852-.439-1.277-1.319-1.277-.627 0-1.18.159-1.655.479l-.287-.946c.589-.372 1.318-.558 2.18-.558 1.66 0 2.493.892 2.493 2.675v2.382c0 .648.03 1.162.091 1.544zM116.527 14.703v-1.078c0-.187-.014-.338-.04-.453a1.643 1.643 0 0 0-.51-.871 1.368 1.368 0 0 0-.945-.353c-.527 0-.94.213-1.243.638-.3.427-.453.971-.453 1.637 0 .64.145 1.158.434 1.557.306.426.719.64 1.235.64.464 0 .834-.179 1.116-.533.272-.328.406-.723.406-1.184zm1.463 2.728h-1.253l-.065-1.039h-.04c-.4.79-1.081 1.186-2.04 1.186-.766 0-1.402-.306-1.908-.918-.505-.614-.759-1.407-.759-2.384 0-1.046.274-1.894.824-2.54.532-.604 1.185-.906 1.962-.906.852 0 1.45.292 1.79.878h.026V7.995h1.414v7.693c0 .63.016 1.21.05 1.743zM128.607 14.19c0-.595-.127-1.107-.379-1.534-.298-.517-.718-.775-1.27-.775-.564 0-.997.258-1.295.775-.252.427-.378.947-.378 1.56 0 .597.126 1.109.378 1.537.306.514.732.772 1.284.772.539 0 .963-.262 1.268-.786.26-.436.392-.952.392-1.549zm1.464-.047c0 .995-.28 1.81-.837 2.45-.585.657-1.359.985-2.328.985-.931 0-1.674-.315-2.23-.946-.552-.63-.828-1.424-.828-2.382 0-1.003.284-1.823.856-2.462.57-.64 1.34-.958 2.309-.958.93 0 1.682.315 2.246.945.54.612.812 1.402.812 2.368zM137.666 17.43h-1.412v-3.704c0-1.141-.425-1.712-1.281-1.712-.42 0-.76.158-1.02.472-.26.314-.391.683-.391 1.109v3.836h-1.414v-4.619c0-.568-.016-1.184-.05-1.85h1.24l.066 1.012h.039c.166-.314.411-.575.732-.78a2.349 2.349 0 0 1 1.282-.364c.593 0 1.085.195 1.477.586.489.479.732 1.192.732 2.141v3.874M147.172 12.04h-1.557v3.142c0 .799.276 1.198.825 1.198.252 0 .462-.022.628-.067l.038 1.092c-.28.105-.646.159-1.099.159-.558 0-.992-.173-1.305-.519-.316-.347-.471-.927-.471-1.744V12.04h-.93v-1.077h.93V9.777l1.384-.425v1.61h1.557v1.078M154.65 17.43h-1.413v-3.676c0-1.16-.428-1.74-1.28-1.74-.656 0-1.103.336-1.348 1.01a1.841 1.841 0 0 0-.065.517v3.89h-1.411V7.995h1.41v3.898h.026c.445-.71 1.083-1.063 1.909-1.063.585 0 1.069.195 1.453.586.48.487.718 1.211.718 2.169v3.846M161.015 13.518c.01-.426-.082-.795-.274-1.105-.245-.4-.618-.598-1.124-.598-.46 0-.837.195-1.124.586-.234.31-.373.683-.419 1.117h2.94zm1.348.373c0 .258-.02.475-.053.652h-4.236c.019.639.221 1.126.613 1.464.359.301.822.452 1.388.452a4.61 4.61 0 0 0 1.714-.306l.22.998c-.602.266-1.31.4-2.132.4-.984 0-1.757-.294-2.318-.886-.563-.59-.842-1.381-.842-2.375 0-.975.26-1.788.784-2.435.547-.693 1.287-1.039 2.221-1.039.914 0 1.608.346 2.077 1.039.376.55.564 1.23.564 2.036z"/>
                            </g>
                        </svg>

                        </a>
                      </div>
                      <div class=" transform button-style dwnload_app">
                        <!--<a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagecircle&amp;hl=en" target="_blank">-->
                          <a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagefit.v_fit" target="_blank">
                          <?xml version="1.0" encoding="UTF-8"?>
                              <svg width="" height="53px" viewBox="0 0 180 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                                  <title>google-play-badge</title>
                                  <desc>Created with Sketch.</desc>
                                  <defs>
                                      <linearGradient x1="90.7692308%" y1="4.84%" x2="-38.3307692%" y2="71.968%" id="linearGradient-1">
                                          <stop stop-color="#00A0FF" offset="0%"></stop>
                                          <stop stop-color="#00A1FF" offset="0.7%"></stop>
                                          <stop stop-color="#00BEFF" offset="26%"></stop>
                                          <stop stop-color="#00D2FF" offset="51.2%"></stop>
                                          <stop stop-color="#00DFFF" offset="76%"></stop>
                                          <stop stop-color="#00E3FF" offset="100%"></stop>
                                      </linearGradient>
                                      <linearGradient x1="107.724138%" y1="49.4235294%" x2="-130.669951%" y2="49.4235294%" id="linearGradient-2">
                                          <stop stop-color="#FFE000" offset="0%"></stop>
                                          <stop stop-color="#FFBD00" offset="40.9%"></stop>
                                          <stop stop-color="#FFA500" offset="77.5%"></stop>
                                          <stop stop-color="#FF9C00" offset="100%"></stop>
                                      </linearGradient>
                                      <linearGradient x1="86.3892216%" y1="17.81427%" x2="-49.8862275%" y2="194.389687%" id="linearGradient-3">
                                          <stop stop-color="#FF3A44" offset="0%"></stop>
                                          <stop stop-color="#C31162" offset="100%"></stop>
                                      </linearGradient>
                                      <linearGradient x1="-18.5808383%" y1="-54.5282125%" x2="42.2754491%" y2="24.6924404%" id="linearGradient-4">
                                          <stop stop-color="#32A071" offset="0%"></stop>
                                          <stop stop-color="#2DA771" offset="6.9%"></stop>
                                          <stop stop-color="#15CF74" offset="47.6%"></stop>
                                          <stop stop-color="#06E775" offset="80.1%"></stop>
                                          <stop stop-color="#00F076" offset="100%"></stop>
                                      </linearGradient>
                                  </defs>
                                  <g id="Final-Design-+-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="[WEB]-Logged-Out-Landing" transform="translate(-520.000000, -4612.000000)" fill-rule="nonzero">
                                          <g id="Group-3" transform="translate(324.000000, 4612.000000)">
                                              <g id="google-play-badge" transform="translate(196.000000, 0.000000)">
                                                  <path d="M173.333333,53 L6.66666667,53 C2.93333333,53 0,50.085 0,46.375 L0,6.625 C0,2.915 2.93333333,0 6.66666667,0 L173.333333,0 C177.066667,0 180,2.915 180,6.625 L180,46.375 C180,50.085 177.066667,53 173.333333,53 Z" id="Shape" fill="#000000"></path>
                                                  <path d="M173.333333,1.06 C176.4,1.06 178.933333,3.5775 178.933333,6.625 L178.933333,46.375 C178.933333,49.4225 176.4,51.94 173.333333,51.94 L6.66666667,51.94 C3.6,51.94 1.06666667,49.4225 1.06666667,46.375 L1.06666667,6.625 C1.06666667,3.5775 3.6,1.06 6.66666667,1.06 L173.333333,1.06 Z M173.333333,0 L6.66666667,0 C2.93333333,0 0,3.0475 0,6.625 L0,46.375 C0,50.085 2.93333333,53 6.66666667,53 L173.333333,53 C177.066667,53 180,50.085 180,46.375 L180,6.625 C180,3.0475 177.066667,0 173.333333,0 Z" id="Shape" fill="#A6A6A6"></path>
                                                  <path d="M63.2,13.515 C63.2,14.575 62.9333333,15.5025 62.2666667,16.165 C61.4666667,16.96 60.5333333,17.3575 59.3333333,17.3575 C58.1333333,17.3575 57.2,16.96 56.4,16.165 C55.6,15.37 55.2,14.4425 55.2,13.25 C55.2,12.0575 55.6,11.13 56.4,10.335 C57.2,9.54 58.1333333,9.1425 59.3333333,9.1425 C59.8666667,9.1425 60.4,9.275 60.9333333,9.54 C61.4666667,9.805 61.8666667,10.07 62.1333333,10.4675 L61.4666667,11.13 C60.9333333,10.4675 60.2666667,10.2025 59.3333333,10.2025 C58.5333333,10.2025 57.7333333,10.4675 57.2,11.13 C56.5333333,11.66 56.2666667,12.455 56.2666667,13.3825 C56.2666667,14.31 56.5333333,15.105 57.2,15.635 C57.8666667,16.165 58.5333333,16.5625 59.3333333,16.5625 C60.2666667,16.5625 60.9333333,16.2975 61.6,15.635 C62,15.2375 62.2666667,14.7075 62.2666667,14.045 L59.3333333,14.045 L59.3333333,12.985 L63.2,12.985 L63.2,13.515 Z M69.3333333,10.2025 L65.7333333,10.2025 L65.7333333,12.72 L69.0666667,12.72 L69.0666667,13.6475 L65.7333333,13.6475 L65.7333333,16.165 L69.3333333,16.165 L69.3333333,17.225 L64.6666667,17.225 L64.6666667,9.275 L69.3333333,9.275 L69.3333333,10.2025 Z M73.7333333,17.225 L72.6666667,17.225 L72.6666667,10.2025 L70.4,10.2025 L70.4,9.275 L76,9.275 L76,10.2025 L73.7333333,10.2025 L73.7333333,17.225 Z M79.8666667,17.225 L79.8666667,9.275 L80.9333333,9.275 L80.9333333,17.225 L79.8666667,17.225 Z M85.4666667,17.225 L84.4,17.225 L84.4,10.2025 L82.1333333,10.2025 L82.1333333,9.275 L87.6,9.275 L87.6,10.2025 L85.3333333,10.2025 L85.3333333,17.225 L85.4666667,17.225 Z M98.1333333,16.165 C97.3333333,16.96 96.4,17.3575 95.2,17.3575 C94,17.3575 93.0666667,16.96 92.2666667,16.165 C91.4666667,15.37 91.0666667,14.4425 91.0666667,13.25 C91.0666667,12.0575 91.4666667,11.13 92.2666667,10.335 C93.0666667,9.54 94,9.1425 95.2,9.1425 C96.4,9.1425 97.3333333,9.54 98.1333333,10.335 C98.9333333,11.13 99.3333333,12.0575 99.3333333,13.25 C99.3333333,14.4425 98.9333333,15.37 98.1333333,16.165 Z M93.0666667,15.5025 C93.6,16.0325 94.4,16.43 95.2,16.43 C96,16.43 96.8,16.165 97.3333333,15.5025 C97.8666667,14.9725 98.2666667,14.1775 98.2666667,13.25 C98.2666667,12.3225 98,11.5275 97.3333333,10.9975 C96.8,10.4675 96,10.07 95.2,10.07 C94.4,10.07 93.6,10.335 93.0666667,10.9975 C92.5333333,11.5275 92.1333333,12.3225 92.1333333,13.25 C92.1333333,14.1775 92.4,14.9725 93.0666667,15.5025 Z M100.8,17.225 L100.8,9.275 L102,9.275 L105.866667,15.5025 L105.866667,9.275 L106.933333,9.275 L106.933333,17.225 L105.866667,17.225 L101.733333,10.7325 L101.733333,17.225 L100.8,17.225 Z" id="Shape" stroke="#FFFFFF" stroke-width="0.5" fill="#FFFFFF"></path>
                                                  <path d="M90.8,28.885 C87.6,28.885 85.0666667,31.27 85.0666667,34.5825 C85.0666667,37.7625 87.6,40.28 90.8,40.28 C94,40.28 96.5333333,37.895 96.5333333,34.5825 C96.5333333,31.1375 94,28.885 90.8,28.885 Z M90.8,37.895 C89.0666667,37.895 87.6,36.4375 87.6,34.45 C87.6,32.4625 89.0666667,31.005 90.8,31.005 C92.5333333,31.005 94,32.33 94,34.45 C94,36.4375 92.5333333,37.895 90.8,37.895 Z M78.4,28.885 C75.2,28.885 72.6666667,31.27 72.6666667,34.5825 C72.6666667,37.7625 75.2,40.28 78.4,40.28 C81.6,40.28 84.1333333,37.895 84.1333333,34.5825 C84.1333333,31.1375 81.6,28.885 78.4,28.885 Z M78.4,37.895 C76.6666667,37.895 75.2,36.4375 75.2,34.45 C75.2,32.4625 76.6666667,31.005 78.4,31.005 C80.1333333,31.005 81.6,32.33 81.6,34.45 C81.6,36.4375 80.1333333,37.895 78.4,37.895 Z M63.6,30.6075 L63.6,32.9925 L69.3333333,32.9925 C69.2,34.3175 68.6666667,35.3775 68,36.04 C67.2,36.835 65.8666667,37.7625 63.6,37.7625 C60,37.7625 57.3333333,34.98 57.3333333,31.4025 C57.3333333,27.825 60.1333333,25.0425 63.6,25.0425 C65.4666667,25.0425 66.9333333,25.8375 68,26.765 L69.7333333,25.0425 C68.2666667,23.7175 66.4,22.6575 63.7333333,22.6575 C58.9333333,22.6575 54.8,26.6325 54.8,31.4025 C54.8,36.1725 58.9333333,40.1475 63.7333333,40.1475 C66.4,40.1475 68.2666667,39.3525 69.8666667,37.63 C71.4666667,36.04 72,33.7875 72,32.065 C72,31.535 72,31.005 71.8666667,30.6075 L63.6,30.6075 Z M124.133333,32.4625 C123.6,31.1375 122.266667,28.885 119.333333,28.885 C116.4,28.885 114,31.1375 114,34.5825 C114,37.7625 116.4,40.28 119.6,40.28 C122.133333,40.28 123.733333,38.69 124.266667,37.7625 L122.4,36.4375 C121.733333,37.365 120.933333,38.0275 119.6,38.0275 C118.266667,38.0275 117.466667,37.4975 116.8,36.305 L124.4,33.125 L124.133333,32.4625 Z M116.4,34.3175 C116.4,32.1975 118.133333,31.005 119.333333,31.005 C120.266667,31.005 121.2,31.535 121.466667,32.1975 L116.4,34.3175 Z M110.133333,39.75 L112.666667,39.75 L112.666667,23.1875 L110.133333,23.1875 L110.133333,39.75 Z M106.133333,30.0775 C105.466667,29.415 104.4,28.7525 103.066667,28.7525 C100.266667,28.7525 97.6,31.27 97.6,34.45 C97.6,37.63 100.133333,40.015 103.066667,40.015 C104.4,40.015 105.466667,39.3525 106,38.69 L106.133333,38.69 L106.133333,39.485 C106.133333,41.605 104.933333,42.7975 103.066667,42.7975 C101.6,42.7975 100.533333,41.7375 100.266667,40.81 L98.1333333,41.7375 C98.8,43.195 100.4,45.05 103.2,45.05 C106.133333,45.05 108.533333,43.3275 108.533333,39.22 L108.533333,29.15 L106.133333,29.15 L106.133333,30.0775 Z M103.2,37.895 C101.466667,37.895 100,36.4375 100,34.45 C100,32.4625 101.466667,31.005 103.2,31.005 C104.933333,31.005 106.266667,32.4625 106.266667,34.45 C106.266667,36.4375 104.933333,37.895 103.2,37.895 Z M135.733333,23.1875 L129.733333,23.1875 L129.733333,39.75 L132.266667,39.75 L132.266667,33.5225 L135.733333,33.5225 C138.533333,33.5225 141.2,31.535 141.2,28.355 C141.2,25.175 138.533333,23.1875 135.733333,23.1875 Z M135.866667,31.1375 L132.266667,31.1375 L132.266667,25.44 L135.866667,25.44 C137.733333,25.44 138.8,27.03 138.8,28.2225 C138.666667,29.68 137.6,31.1375 135.866667,31.1375 Z M151.2,28.7525 C149.333333,28.7525 147.466667,29.5475 146.8,31.27 L149.066667,32.1975 C149.6,31.27 150.4,31.005 151.333333,31.005 C152.666667,31.005 153.866667,31.8 154,33.125 L154,33.2575 C153.6,32.9925 152.533333,32.595 151.466667,32.595 C149.066667,32.595 146.666667,33.92 146.666667,36.305 C146.666667,38.5575 148.666667,40.015 150.8,40.015 C152.533333,40.015 153.333333,39.22 154,38.425 L154.133333,38.425 L154.133333,39.75 L156.533333,39.75 L156.533333,33.39 C156.266667,30.475 154,28.7525 151.2,28.7525 Z M150.933333,37.895 C150.133333,37.895 148.933333,37.4975 148.933333,36.4375 C148.933333,35.1125 150.4,34.715 151.6,34.715 C152.666667,34.715 153.2,34.98 153.866667,35.245 C153.6,36.835 152.266667,37.895 150.933333,37.895 Z M164.933333,29.15 L162.133333,36.305 L162,36.305 L159.066667,29.15 L156.4,29.15 L160.8,39.22 L158.266667,44.785 L160.8,44.785 L167.6,29.15 L164.933333,29.15 Z M142.533333,39.75 L145.066667,39.75 L145.066667,23.1875 L142.533333,23.1875 L142.533333,39.75 Z" id="Shape" fill="#FFFFFF"></path>
                                                  <g id="Group" transform="translate(13.333333, 9.275000)">
                                                      <path d="M0.533333333,0.6625 C0.133333333,1.06 0,1.7225 0,2.5175 L0,31.8 C0,32.595 0.266666667,33.2575 0.666666667,33.655 L0.8,33.7875 L17.3333333,17.3575 L17.3333333,17.0925 L0.533333333,0.6625 Z" id="Shape" fill="url(#linearGradient-1)"></path>
                                                      <path d="M22.6666667,22.9225 L17.2,17.49 L17.2,17.0925 L22.6666667,11.66 L22.8,11.7925 L29.3333333,15.5025 C31.2,16.5625 31.2,18.285 29.3333333,19.345 L22.6666667,22.9225 Z" id="Shape" fill="url(#linearGradient-2)"></path>
                                                      <path d="M22.8,22.79 L17.2,17.225 L0.533333333,33.7875 C1.2,34.45 2.13333333,34.45 3.33333333,33.92 L22.8,22.79" id="Shape" fill="url(#linearGradient-3)"></path>
                                                      <path d="M22.8,11.66 L3.33333333,0.6625 C2.13333333,-2.77555756e-17 1.2,0.1325 0.533333333,0.795 L17.2,17.225 L22.8,11.66 Z" id="Shape" fill="url(#linearGradient-4)"></path>
                                                      <path d="M22.6666667,22.6575 L3.33333333,33.5225 C2.26666667,34.185 1.33333333,34.0525 0.666666667,33.5225 L0.533333333,33.655 L0.666666667,33.7875 C1.33333333,34.3175 2.26666667,34.45 3.33333333,33.7875 L22.6666667,22.6575 Z" id="Shape" fill="#000000" opacity="0.2"></path>
                                                      <path d="M0.533333333,33.5225 C0.133333333,33.125 0,32.4625 0,31.6675 L0,31.8 C0,32.595 0.266666667,33.2575 0.666666667,33.655 L0.666666667,33.5225 L0.533333333,33.5225 Z M29.3333333,18.9475 L22.6666667,22.6575 L22.8,22.79 L29.3333333,19.08 C30.2666667,18.55 30.6666667,17.8875 30.6666667,17.225 C30.6666667,17.8875 30.1333333,18.4175 29.3333333,18.9475 Z" id="Shape" fill="#000000" opacity="0.12"></path>
                                                      <path d="M3.33333333,0.795 L29.3333333,15.5025 C30.1333333,16.0325 30.6666667,16.5625 30.6666667,17.225 C30.6666667,16.5625 30.2666667,15.9 29.3333333,15.37 L3.33333333,0.6625 C1.46666667,-0.3975 0,0.3975 0,2.5175 L0,2.65 C0,0.6625 1.46666667,-0.265 3.33333333,0.795 Z" id="Shape" fill="#FFFFFF" opacity="0.25"></path>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </svg>
                        </a>              
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 offset-lg-1 col-md-12" style="position:relative">
                <div class="mobile_img wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible;  -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInRight;">
                  <img class="mobile_banner" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/vantagefit-devices.png" alt="Mobile App" > 
                  <img class="vfit hidden-xs hidden-sm hidden-sml" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/vantage-fit-person.png" alt="VFit">
                </div>
             </div>
             <div class="shape_images hidden-xs hidden-sm">
                <img class="lines" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/lines.png" alt="lines" > 
                <img class="pulse" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heart-lines.png" alt="pulse">
             </div>
          </div>
       </div>
    </section>
    <!--progress bar section-->
    <section class="section_space">
        <div class="container custom-container">
            <div class="row  wow fadeInUp " data-wow-delay=".3s" style="visibility: visible;  -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><h2 class="title_head text-center title_spc">Corporate Wellness Program Statistics</h2></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="91"></div></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="60"></div></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="27"></div></div>
                <div class="circleGraphic col-lg-3 col-md-3 col-xs-12 col-sm-6 hidden-xs hidden-sm hidden-sml"><div class="circle" data-percent="61"></div></div>
            </div>
        </div>
        <div class="container custom-container">
            <div class="row wellnessprogram">
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Motivated <span>Workforce</span></div><p>
              91% of employees that work in companies that prioritize workplace wellness say that they feel motivated and focused at work.</p></div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Reduced Health <span>Care Costs</span></div><p>60% of surveyed employers reported that implementing employee wellness programs helped reduce the healthcare costs for employees.</p></div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Decreased <span>Absenteeism</span></div><p>Implementing workplace wellness measures can help employers bring down employee absenteeism due to health related issues by 27%.</p></div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-6 text-center  wow fadeInUp  content_benefits" data-wow-delay=".4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="innertext innerheading">Healthier <span>Lives</span></div><p>61% of employees agreed that they had made healthier lifestyle choices because of their company’s employee wellness program. </p> </div>
            </div>
        </div>
    </section>
  <!-- content and image-->
  <section class="section_space">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp title_spc" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;"><span>How Corporate Wellness Program</span><br>
        Can Help Your Organisation</div></div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex align_items_center">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 content_benefits ">
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <div class="innertext">Increase Productivity</div>
                  <p>An employee’s productivity is determined by how healthy they are, both physically and mentally. Vantage Fit packs in various health challenges and tasks for helping your employees take up healthy habits and boost their productivity. Our app also enables the organizations to assign various health tasks to your employees, thereby encouraging them to stay healthy and fit.</p>
                </div>
              </div>
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <div class="innertext">Decrease Absenteeism</div>
                  <p>Employee absenteeism has been a major problem across many organizations. Most of the time, this issue arises due to various health-related issues that your employees may face. However, with a corporate wellness program at your disposal, you can mitigate it by encouraging your employees to take up healthy habits. And that’s what our app does!</p>
                </div>  
              </div>
              <div class="wow fadeInLeft animated outline-round" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <div class="rel_text">
                  <div class="innertext">Enhance Company Culture</div>
                  <p>The success of any organization is highly determined by its overall workplace culture. Our corporate wellness program delivered through Vantage Fit helps you promote a culture of health and wellbeing across your company. Thus, enhancing your company culture by nurturing a healthy and engaged workforce.</p>
                </div>            
              </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm" >
            <div class="wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;"> 
              <img class="img-responsive image-fit" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/corporate-wellness-organisation.png" alt="wellness">
            </div>
          </div>
      </div>
    </div>
  </section>
        <!--second content-->
    <section class="section_space mob-section">
    <div class="container">
      <div class="">
        <div class="row d-flex align_items_center">
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-xs hidden-sm">
            <div class="wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInLeft;"> 
              <img class="img-responsive" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/increase-employee-engagement.png" alt="engagement">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 content_benefits ">
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInRight;">
                <div class="rel_text ">
                  <div class="innertext">Promote Healthy Habits</div>
                  <p>Every great thing begins with adopting healthy habits, and workplace wellness programs are specially designed for this purpose. By initiating a wellness program in your organization, you can help your employees develop healthy habits and transform their lifestyles both at home and work.</p>
                </div>
              </div>
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                <div class="rel_text">
                  <div class="innertext">Increase Employee Engagement</div>
                  <p>Highly engaged employees are the backbone of successful corporations. A workplace wellness program helps you create an engaging atmosphere around your organization to boost your employees’ morale. It is when your employees feel physically and mentally fit, they will give their best performance.</p>
                </div>  
              </div>
              <div class="wow fadeInRight animated outline-round" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInRight;">
                <div class="rel_text">
                  <div class="innertext">Reduce Healthcare Costs</div>
                  <p>Every year, companies around the globe pay a hefty sum for providing subsidized insurance plans and other health benefits to their employees. But, encouraging your workforce to adopt healthy habits within their work-life will surely bring down the overall employee healthcare costs.</p>
                </div>            
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--features at a glance-->
  <section class="section_space">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp animated " data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;margin-bottom:10px">Features at a Glance</div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class=" text-center wow fadeInUp animated title_spc secondarytext" data-wow-delay=".6s" style="visibility: visible; animation-delay: .6s; animation-name: fadeInUp;">Here’s a quick look at some of the key features of Vantage Fit.</p>
        </div>
        <div class="row_elementor features title_spc">
          <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 left-activity">
            <div data-img="activity" class="box_item wow fadeInUp animated first_active active-sec" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/activitytracker.png" class="first-image activebox hidden-xs hidden-sm" alt="activity">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-activitytracker.png" class="second-image hidden-xs hidden-sm" alt="activity">
              </div>
              <div class="featurestext">
                <div class="trackertext">Activity &<br> Calorie Tracker</div>
              </div>
            </div>
            <div data-img="heartrate" class="box_item wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heartratemonitor.png" class="first-image activebox hidden-xs hidden-sm" alt="heartrate">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-heartratemonitor.png" class="second-image hidden-xs hidden-sm" alt="heartrate">
              
              </div>
              <div class="featurestext">
                <div class="trackertext">Heart Rate<br> Monitor</div>
              </div>
            </div>
            <div data-img="health" class="box_item wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; a-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/wearabledevices.png" class="first-image activebox hidden-xs hidden-sm" alt="health">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-wearabledevices.png" class="second-image hidden-xs hidden-sm" alt="health">
              </div>
              <div class="featurestext">
                <div class="trackertext">Wearable<br> Devices</div>
              </div>
            </div>
            <div data-img="contest" class="box_item wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/contest-challenges.png" class="first-image activebox hidden-xs hidden-sm" alt="contest">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-contest-challenges.png" class="second-image hidden-xs hidden-sm" alt="contest">
              </div>
              <div class="featurestext">
                <div class="trackertext">Contest and<br> Challenges</div>
              </div>
            </div>
          </div>

          <!--mid sec-->

          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 mid-activity hidden-xs hidden-sm">
            <div id="activity">
              <img class="img-responsive Image-Overlay active-img" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/activity-calorie.png" alt="activity">
              
            </div>
            <div id="heartrate">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heart-rate.png" alt="heartrate">
            </div>
            <div id="health">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/wearable-devices.png" alt="health dairy">
            </div>
            <div id="contest">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/contest-challenge.png" alt="contest">
            </div>
            <div id="assessment">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/health-risk-assesment.png" alt="contest">
            </div>
            <div id="meter">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/mood-o-meter.png" alt="moodometer">
            </div>
            <div id="redeem">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/fitness-points.png" alt="fitnesspoints">
            </div>
            <div id="leaderboard">
              <img class="img-responsive Image-Overlay" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/realtime-leaderboard.png" alt="leaderboard">
            </div>
          </div>

          <!--right sec-->

          <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 right-activity">
            <div data-img="assessment" class="box_item wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/hra.png" class="first-image activebox hidden-xs hidden-sm" alt="assessment">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-hra.png" class="second-image hidden-xs hidden-sm" alt="assessment">
              </div>
              <div class="featurestext">
                <div class="trackertext">Health Risk<br> Assessment</div>
              </div>
            </div>
            <div data-img="meter" class="box_item wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/moodtracker.png" class="first-image activebox hidden-xs hidden-sm" alt="mood">
                <img  src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-moodtracker.png" class="second-image  hidden-xs hidden-sm" alt="mood">
              </div>
              <div class="featurestext">
                <div class="moodmeter trackertext">Mood-o-meter</div>
              </div>
            </div>
            <div data-img="redeem" class="box_item wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/fitnesspoint.png" class="first-image activebox hidden-xs hidden-sm" alt="fitnesspoints">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-fitnesspoint.png" class="second-image  hidden-xs hidden-sm" alt="fitnesspoints">
              </div>
              <div class="featurestext">
                <div class="trackertext">Redeemable<br> Fitness Points</div>
              </div>
            </div>
            <div data-img="leaderboard" class="box_item wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;animation-name: fadeInUp;">
              <div class="featuresimg">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/leaderboard.png" class="first-image activebox hidden-xs hidden-sm" alt="leaderboard">
                <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/active-leaderboard.png" class="second-image hidden-xs hidden-sm" alt="leaderboard">
              </div>
              <div class="featurestext">
                <div class="trackertext">Realtime<br> Leaderboard</div>
              </div>
            </div>
            
          </div>
          <!--right section ends-->
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class=" text-center wow fadeInUp animated " data-wow-delay=".3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;"><a href="/features" class="vc_active">Learn More <span class="fa fa-long-arrow-right" style="vertical-align:middle"></span></a></div>
        </div>
      </div>
    </div>
  </section>
  <!--video section-->
  <section class="video_area section_space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
        Check out how Vantage Fit helps you</div></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class=" text-center wow fadeInUp animated title_spc secondarytext" data-wow-delay=".6s" style="visibility: visible; animation-delay: .6s; animation-name: fadeInUp;">A perfect app that addresses more than just health</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="video_content">
             <div class="video_info">
                <div class="ovarlay_color"></div>
                <a class="popupvideosection" href="https://www.youtube.com/watch?v=fVhfKMo3H80">
                  <div class="wrapper">
                    <div class="iconplay d-flex align_items_center"><i class="fa fa-play"></i></div>
                  </div>
                </a>
             </div>
           </div>
         </div>
      </div>    
    </div>
  </section>
  <!--video ends-->
  <!--Healthy workforce-->
 <section class="section_space" style="padding-top:0px">
    <div  style="background:#e8fcfa">
    <div class="container custom-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthyworkforce">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/person-running-corporate-wellness.png"  alt="Request Demo" class="img-responsive">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
          <div class="title_second">
            <h3 class="second_heading"><span>Build a</span> Healthy Workforce!</h3>
            <p>Download Vantage Fit app today.</p>
            <div class="store-icons">
              <!--new-->
              <div class="app_downloadbanner index_download">
                      <div class=" transform button-style dwnload_app">
                        <a href="https://apps.apple.com/in/app/vantage-fit/id1393594182" target="_blank">

                          <svg xmlns="http://www.w3.org/2000/svg" width="" height="53" viewBox="0 0 180 53">
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#0B0B0A" d="M179.648 47.39c0 2.903-2.31 5.255-5.167 5.255H5.374C2.518 52.645.2 50.293.2 47.39V5.483C.2 2.581 2.518.221 5.374.221h169.105c2.86 0 5.168 2.36 5.168 5.262V47.39h.001"/>
                                <path fill="#FFFFFE" d="M39.606 26.145c-.039-4.422 3.557-6.574 3.722-6.675-2.037-3.023-5.193-3.436-6.303-3.468-2.65-.284-5.222 1.615-6.573 1.615-1.377 0-3.458-1.587-5.698-1.54-2.883.045-5.583 1.745-7.063 4.385-3.054 5.382-.776 13.292 2.15 17.643 1.464 2.13 3.174 4.51 5.411 4.426 2.19-.093 3.009-1.423 5.653-1.423 2.619 0 3.387 1.423 5.67 1.37 2.35-.04 3.83-2.14 5.243-4.29 1.692-2.444 2.371-4.85 2.398-4.973-.055-.018-4.565-1.77-4.61-7.07M35.294 13.14c1.176-1.5 1.982-3.54 1.758-5.61-1.705.077-3.837 1.2-5.063 2.667-1.087 1.293-2.057 3.411-1.806 5.403 1.915.146 3.881-.983 5.11-2.46M66.06 34.612l-1.517-4.767c-.16-.488-.46-1.635-.905-3.441h-.053a134.5 134.5 0 0 1-.852 3.441l-1.489 4.767h4.816zm5.243 7.613h-3.061l-1.677-5.363H60.74l-1.598 5.363h-2.98l5.774-18.26h3.567l5.8 18.26zM83.224 35.587c0-1.281-.283-2.338-.852-3.17-.621-.865-1.454-1.3-2.501-1.3-.71 0-1.354.242-1.93.719-.576.479-.953 1.106-1.13 1.884-.089.36-.133.658-.133.892v2.195c0 .958.288 1.766.865 2.424.577.66 1.326.99 2.248.99 1.082 0 1.926-.426 2.529-1.274.602-.849.904-1.969.904-3.36zm2.927-.107c0 2.24-.594 4.01-1.783 5.309-1.065 1.156-2.385 1.734-3.965 1.734-1.702 0-2.926-.623-3.671-1.87h-.054v6.936h-2.874V33.393c0-1.407-.036-2.852-.106-4.334h2.527l.16 2.087h.054c.957-1.573 2.413-2.357 4.363-2.357 1.527 0 2.8.613 3.82 1.841 1.02 1.23 1.53 2.846 1.53 4.85zM98.1 35.587c0-1.281-.285-2.338-.852-3.17-.622-.865-1.454-1.3-2.502-1.3-.71 0-1.353.242-1.93.719-.575.479-.951 1.106-1.13 1.884a3.96 3.96 0 0 0-.133.892v2.195c0 .958.289 1.766.863 2.424.577.66 1.328.99 2.25.99 1.083 0 1.925-.426 2.528-1.274.604-.849.906-1.969.906-3.36zm2.927-.107c0 2.24-.594 4.01-1.784 5.309-1.064 1.156-2.386 1.734-3.964 1.734-1.704 0-2.928-.623-3.672-1.87h-.054v6.936H88.68V33.393c0-1.407-.037-2.852-.107-4.334h2.529l.159 2.087h.054c.957-1.573 2.41-2.357 4.363-2.357 1.524 0 2.799.613 3.82 1.841 1.018 1.23 1.529 2.846 1.529 4.85zM117.659 37.106c0 1.552-.53 2.815-1.593 3.791-1.169 1.067-2.796 1.598-4.886 1.598-1.929 0-3.477-.378-4.649-1.137l.666-2.438a7.771 7.771 0 0 0 4.154 1.165c1.082 0 1.925-.249 2.53-.747.604-.496.903-1.162.903-1.995 0-.74-.247-1.365-.745-1.871-.495-.506-1.321-.977-2.474-1.412-3.14-1.192-4.71-2.939-4.71-5.237 0-1.5.551-2.73 1.651-3.69 1.097-.959 2.56-1.437 4.391-1.437 1.632 0 2.988.288 4.07.865l-.72 2.385c-1.01-.56-2.153-.84-3.432-.84-1.011 0-1.8.253-2.367.759a2.186 2.186 0 0 0-.718 1.653c0 .722.273 1.319.825 1.787.478.435 1.347.904 2.608 1.41 1.543.633 2.676 1.372 3.406 2.22.727.85 1.09 1.907 1.09 3.171M127.16 31.254h-3.168v6.393c0 1.626.558 2.438 1.677 2.438.513 0 .94-.046 1.278-.135l.078 2.222c-.566.215-1.31.323-2.235.323-1.135 0-2.022-.352-2.662-1.055-.636-.705-.958-1.888-.958-3.55v-6.636h-1.887V29.06h1.887v-2.41l2.822-.868v3.278h3.168v2.195M138.469 35.628c0-1.213-.256-2.254-.772-3.124-.603-1.05-1.464-1.575-2.58-1.575-1.155 0-2.033.524-2.635 1.575-.516.87-.771 1.928-.771 3.18 0 1.213.255 2.255.771 3.123.621 1.05 1.49 1.576 2.61 1.576 1.096 0 1.958-.534 2.579-1.603.531-.886.798-1.939.798-3.152zm2.981-.094c0 2.023-.567 3.685-1.702 4.984-1.19 1.337-2.77 2.005-4.739 2.005-1.898 0-3.408-.64-4.535-1.924-1.127-1.281-1.69-2.899-1.69-4.849 0-2.04.58-3.711 1.742-5.01 1.16-1.301 2.727-1.951 4.696-1.951 1.9 0 3.425.64 4.579 1.923 1.1 1.246 1.65 2.853 1.65 4.822zM150.79 31.632a4.896 4.896 0 0 0-.905-.08c-1.011 0-1.793.388-2.343 1.165-.48.686-.718 1.553-.718 2.6v6.908h-2.872l.025-9.02c0-1.519-.036-2.9-.107-4.146h2.504l.105 2.519h.078c.303-.866.783-1.563 1.438-2.084.639-.47 1.332-.705 2.077-.705.266 0 .506.019.718.053v2.79M160.902 34.26c.019-.867-.169-1.615-.558-2.248-.498-.813-1.262-1.219-2.29-1.219-.94 0-1.704.397-2.287 1.193-.48.632-.765 1.39-.85 2.274h5.985zm2.74.76c0 .523-.034.965-.105 1.326h-8.62c.033 1.3.45 2.295 1.248 2.981.727.614 1.668.921 2.82.921 1.276 0 2.44-.209 3.488-.624l.45 2.032c-1.223.542-2.668.813-4.336.813-2.005 0-3.58-.6-4.725-1.802-1.141-1.201-1.716-2.813-1.716-4.836 0-1.986.531-3.64 1.599-4.957 1.116-1.409 2.624-2.113 4.522-2.113 1.864 0 3.275.704 4.233 2.113.76 1.12 1.142 2.503 1.142 4.145zM63.62 12.773c0-1.047-.272-1.85-.818-2.41-.544-.558-1.34-.838-2.385-.838-.445 0-.825.032-1.138.093v6.708c.174.028.492.04.954.04 1.081 0 1.915-.306 2.504-.918.588-.612.883-1.504.883-2.675zm1.49-.04c0 1.615-.475 2.83-1.425 3.647-.882.753-2.131 1.13-3.752 1.13-.802 0-1.491-.035-2.067-.105V8.58c.751-.124 1.56-.186 2.433-.186 1.542 0 2.707.342 3.491 1.025.879.771 1.32 1.876 1.32 3.314zM71.541 14.19c0-.595-.126-1.107-.38-1.534-.295-.517-.718-.775-1.267-.775-.567 0-.998.258-1.295.775-.252.427-.379.947-.379 1.56 0 .597.127 1.109.379 1.537.306.514.732.772 1.282.772.54 0 .962-.262 1.268-.786.262-.436.392-.952.392-1.549zm1.465-.047c0 .995-.279 1.81-.837 2.45-.585.657-1.36.985-2.327.985-.933 0-1.676-.315-2.23-.946-.552-.63-.83-1.424-.83-2.382 0-1.003.285-1.823.856-2.462.571-.64 1.34-.958 2.307-.958.934 0 1.682.315 2.25.945.539.612.811 1.402.811 2.368zM83.595 10.963l-1.988 6.468h-1.293l-.825-2.809a21.237 21.237 0 0 1-.51-2.09h-.025c-.123.711-.292 1.408-.51 2.09l-.877 2.809H76.26l-1.87-6.468h1.452l.718 3.073c.174.729.319 1.42.433 2.078h.024c.105-.541.28-1.23.525-2.064l.901-3.087h1.15l.864 3.021c.209.737.379 1.446.51 2.13h.038c.096-.666.24-1.375.433-2.13l.771-3.021h1.386M90.917 17.43h-1.412v-3.704c0-1.141-.426-1.712-1.28-1.712-.42 0-.76.158-1.021.472a1.679 1.679 0 0 0-.392 1.109v3.836h-1.413v-4.619c0-.568-.017-1.184-.05-1.85h1.24l.066 1.012h.04c.164-.314.41-.575.731-.78a2.344 2.344 0 0 1 1.28-.364c.594 0 1.087.195 1.48.586.487.479.731 1.192.731 2.141v3.874M93.401 17.43h1.411V7.996h-1.41zM101.662 14.19c0-.595-.127-1.107-.379-1.534-.295-.517-.72-.775-1.267-.775-.569 0-1 .258-1.295.775-.252.427-.379.947-.379 1.56 0 .597.127 1.109.379 1.537.306.514.732.772 1.282.772.54 0 .96-.262 1.267-.786.262-.436.392-.952.392-1.549zm1.466-.047c0 .995-.279 1.81-.837 2.45-.585.657-1.361.985-2.327.985-.934 0-1.677-.315-2.23-.946-.552-.63-.829-1.424-.829-2.382 0-1.003.285-1.823.855-2.462.571-.64 1.341-.958 2.306-.958.935 0 1.682.315 2.25.945.541.612.812 1.402.812 2.368zM108.498 15.208v-.997c-1.558-.028-2.337.407-2.337 1.303 0 .338.089.59.27.759a.978.978 0 0 0 .69.252c.31 0 .6-.099.863-.299a1.22 1.22 0 0 0 .514-1.018zm1.466 2.223h-1.268l-.106-.745h-.04c-.434.594-1.052.892-1.855.892-.6 0-1.084-.195-1.45-.586-.332-.356-.498-.795-.498-1.317 0-.79.323-1.393.974-1.812.65-.415 1.564-.62 2.74-.611v-.12c0-.852-.439-1.277-1.319-1.277-.627 0-1.18.159-1.655.479l-.287-.946c.589-.372 1.318-.558 2.18-.558 1.66 0 2.493.892 2.493 2.675v2.382c0 .648.03 1.162.091 1.544zM116.527 14.703v-1.078c0-.187-.014-.338-.04-.453a1.643 1.643 0 0 0-.51-.871 1.368 1.368 0 0 0-.945-.353c-.527 0-.94.213-1.243.638-.3.427-.453.971-.453 1.637 0 .64.145 1.158.434 1.557.306.426.719.64 1.235.64.464 0 .834-.179 1.116-.533.272-.328.406-.723.406-1.184zm1.463 2.728h-1.253l-.065-1.039h-.04c-.4.79-1.081 1.186-2.04 1.186-.766 0-1.402-.306-1.908-.918-.505-.614-.759-1.407-.759-2.384 0-1.046.274-1.894.824-2.54.532-.604 1.185-.906 1.962-.906.852 0 1.45.292 1.79.878h.026V7.995h1.414v7.693c0 .63.016 1.21.05 1.743zM128.607 14.19c0-.595-.127-1.107-.379-1.534-.298-.517-.718-.775-1.27-.775-.564 0-.997.258-1.295.775-.252.427-.378.947-.378 1.56 0 .597.126 1.109.378 1.537.306.514.732.772 1.284.772.539 0 .963-.262 1.268-.786.26-.436.392-.952.392-1.549zm1.464-.047c0 .995-.28 1.81-.837 2.45-.585.657-1.359.985-2.328.985-.931 0-1.674-.315-2.23-.946-.552-.63-.828-1.424-.828-2.382 0-1.003.284-1.823.856-2.462.57-.64 1.34-.958 2.309-.958.93 0 1.682.315 2.246.945.54.612.812 1.402.812 2.368zM137.666 17.43h-1.412v-3.704c0-1.141-.425-1.712-1.281-1.712-.42 0-.76.158-1.02.472-.26.314-.391.683-.391 1.109v3.836h-1.414v-4.619c0-.568-.016-1.184-.05-1.85h1.24l.066 1.012h.039c.166-.314.411-.575.732-.78a2.349 2.349 0 0 1 1.282-.364c.593 0 1.085.195 1.477.586.489.479.732 1.192.732 2.141v3.874M147.172 12.04h-1.557v3.142c0 .799.276 1.198.825 1.198.252 0 .462-.022.628-.067l.038 1.092c-.28.105-.646.159-1.099.159-.558 0-.992-.173-1.305-.519-.316-.347-.471-.927-.471-1.744V12.04h-.93v-1.077h.93V9.777l1.384-.425v1.61h1.557v1.078M154.65 17.43h-1.413v-3.676c0-1.16-.428-1.74-1.28-1.74-.656 0-1.103.336-1.348 1.01a1.841 1.841 0 0 0-.065.517v3.89h-1.411V7.995h1.41v3.898h.026c.445-.71 1.083-1.063 1.909-1.063.585 0 1.069.195 1.453.586.48.487.718 1.211.718 2.169v3.846M161.015 13.518c.01-.426-.082-.795-.274-1.105-.245-.4-.618-.598-1.124-.598-.46 0-.837.195-1.124.586-.234.31-.373.683-.419 1.117h2.94zm1.348.373c0 .258-.02.475-.053.652h-4.236c.019.639.221 1.126.613 1.464.359.301.822.452 1.388.452a4.61 4.61 0 0 0 1.714-.306l.22.998c-.602.266-1.31.4-2.132.4-.984 0-1.757-.294-2.318-.886-.563-.59-.842-1.381-.842-2.375 0-.975.26-1.788.784-2.435.547-.693 1.287-1.039 2.221-1.039.914 0 1.608.346 2.077 1.039.376.55.564 1.23.564 2.036z"/>
                            </g>
                          }
                        </svg>

                        </a>
                      </div>
                      <div class=" transform button-style dwnload_app">
                        <!--<a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagecircle&amp;hl=en" target="_blank">-->
                          <a href="https://play.google.com/store/apps/details?id=com.bargaintechnologies.vantagefit.v_fit" target="_blank">
                          <?xml version="1.0" encoding="UTF-8"?>
                              <svg width="" height="53px" viewBox="0 0 180 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                                  <title>google-play-badge</title>
                                  <desc>Created with Sketch.</desc>
                                  <defs>
                                      <linearGradient x1="90.7692308%" y1="4.84%" x2="-38.3307692%" y2="71.968%" id="linearGradient-1">
                                          <stop stop-color="#00A0FF" offset="0%"></stop>
                                          <stop stop-color="#00A1FF" offset="0.7%"></stop>
                                          <stop stop-color="#00BEFF" offset="26%"></stop>
                                          <stop stop-color="#00D2FF" offset="51.2%"></stop>
                                          <stop stop-color="#00DFFF" offset="76%"></stop>
                                          <stop stop-color="#00E3FF" offset="100%"></stop>
                                      </linearGradient>
                                      <linearGradient x1="107.724138%" y1="49.4235294%" x2="-130.669951%" y2="49.4235294%" id="linearGradient-2">
                                          <stop stop-color="#FFE000" offset="0%"></stop>
                                          <stop stop-color="#FFBD00" offset="40.9%"></stop>
                                          <stop stop-color="#FFA500" offset="77.5%"></stop>
                                          <stop stop-color="#FF9C00" offset="100%"></stop>
                                      </linearGradient>
                                      <linearGradient x1="86.3892216%" y1="17.81427%" x2="-49.8862275%" y2="194.389687%" id="linearGradient-3">
                                          <stop stop-color="#FF3A44" offset="0%"></stop>
                                          <stop stop-color="#C31162" offset="100%"></stop>
                                      </linearGradient>
                                      <linearGradient x1="-18.5808383%" y1="-54.5282125%" x2="42.2754491%" y2="24.6924404%" id="linearGradient-4">
                                          <stop stop-color="#32A071" offset="0%"></stop>
                                          <stop stop-color="#2DA771" offset="6.9%"></stop>
                                          <stop stop-color="#15CF74" offset="47.6%"></stop>
                                          <stop stop-color="#06E775" offset="80.1%"></stop>
                                          <stop stop-color="#00F076" offset="100%"></stop>
                                      </linearGradient>
                                  </defs>
                                  <g id="Final-Design-+-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="[WEB]-Logged-Out-Landing" transform="translate(-520.000000, -4612.000000)" fill-rule="nonzero">
                                          <g id="Group-3" transform="translate(324.000000, 4612.000000)">
                                              <g id="google-play-badge" transform="translate(196.000000, 0.000000)">
                                                  <path d="M173.333333,53 L6.66666667,53 C2.93333333,53 0,50.085 0,46.375 L0,6.625 C0,2.915 2.93333333,0 6.66666667,0 L173.333333,0 C177.066667,0 180,2.915 180,6.625 L180,46.375 C180,50.085 177.066667,53 173.333333,53 Z" id="Shape" fill="#000000"></path>
                                                  <path d="M173.333333,1.06 C176.4,1.06 178.933333,3.5775 178.933333,6.625 L178.933333,46.375 C178.933333,49.4225 176.4,51.94 173.333333,51.94 L6.66666667,51.94 C3.6,51.94 1.06666667,49.4225 1.06666667,46.375 L1.06666667,6.625 C1.06666667,3.5775 3.6,1.06 6.66666667,1.06 L173.333333,1.06 Z M173.333333,0 L6.66666667,0 C2.93333333,0 0,3.0475 0,6.625 L0,46.375 C0,50.085 2.93333333,53 6.66666667,53 L173.333333,53 C177.066667,53 180,50.085 180,46.375 L180,6.625 C180,3.0475 177.066667,0 173.333333,0 Z" id="Shape" fill="#A6A6A6"></path>
                                                  <path d="M63.2,13.515 C63.2,14.575 62.9333333,15.5025 62.2666667,16.165 C61.4666667,16.96 60.5333333,17.3575 59.3333333,17.3575 C58.1333333,17.3575 57.2,16.96 56.4,16.165 C55.6,15.37 55.2,14.4425 55.2,13.25 C55.2,12.0575 55.6,11.13 56.4,10.335 C57.2,9.54 58.1333333,9.1425 59.3333333,9.1425 C59.8666667,9.1425 60.4,9.275 60.9333333,9.54 C61.4666667,9.805 61.8666667,10.07 62.1333333,10.4675 L61.4666667,11.13 C60.9333333,10.4675 60.2666667,10.2025 59.3333333,10.2025 C58.5333333,10.2025 57.7333333,10.4675 57.2,11.13 C56.5333333,11.66 56.2666667,12.455 56.2666667,13.3825 C56.2666667,14.31 56.5333333,15.105 57.2,15.635 C57.8666667,16.165 58.5333333,16.5625 59.3333333,16.5625 C60.2666667,16.5625 60.9333333,16.2975 61.6,15.635 C62,15.2375 62.2666667,14.7075 62.2666667,14.045 L59.3333333,14.045 L59.3333333,12.985 L63.2,12.985 L63.2,13.515 Z M69.3333333,10.2025 L65.7333333,10.2025 L65.7333333,12.72 L69.0666667,12.72 L69.0666667,13.6475 L65.7333333,13.6475 L65.7333333,16.165 L69.3333333,16.165 L69.3333333,17.225 L64.6666667,17.225 L64.6666667,9.275 L69.3333333,9.275 L69.3333333,10.2025 Z M73.7333333,17.225 L72.6666667,17.225 L72.6666667,10.2025 L70.4,10.2025 L70.4,9.275 L76,9.275 L76,10.2025 L73.7333333,10.2025 L73.7333333,17.225 Z M79.8666667,17.225 L79.8666667,9.275 L80.9333333,9.275 L80.9333333,17.225 L79.8666667,17.225 Z M85.4666667,17.225 L84.4,17.225 L84.4,10.2025 L82.1333333,10.2025 L82.1333333,9.275 L87.6,9.275 L87.6,10.2025 L85.3333333,10.2025 L85.3333333,17.225 L85.4666667,17.225 Z M98.1333333,16.165 C97.3333333,16.96 96.4,17.3575 95.2,17.3575 C94,17.3575 93.0666667,16.96 92.2666667,16.165 C91.4666667,15.37 91.0666667,14.4425 91.0666667,13.25 C91.0666667,12.0575 91.4666667,11.13 92.2666667,10.335 C93.0666667,9.54 94,9.1425 95.2,9.1425 C96.4,9.1425 97.3333333,9.54 98.1333333,10.335 C98.9333333,11.13 99.3333333,12.0575 99.3333333,13.25 C99.3333333,14.4425 98.9333333,15.37 98.1333333,16.165 Z M93.0666667,15.5025 C93.6,16.0325 94.4,16.43 95.2,16.43 C96,16.43 96.8,16.165 97.3333333,15.5025 C97.8666667,14.9725 98.2666667,14.1775 98.2666667,13.25 C98.2666667,12.3225 98,11.5275 97.3333333,10.9975 C96.8,10.4675 96,10.07 95.2,10.07 C94.4,10.07 93.6,10.335 93.0666667,10.9975 C92.5333333,11.5275 92.1333333,12.3225 92.1333333,13.25 C92.1333333,14.1775 92.4,14.9725 93.0666667,15.5025 Z M100.8,17.225 L100.8,9.275 L102,9.275 L105.866667,15.5025 L105.866667,9.275 L106.933333,9.275 L106.933333,17.225 L105.866667,17.225 L101.733333,10.7325 L101.733333,17.225 L100.8,17.225 Z" id="Shape" stroke="#FFFFFF" stroke-width="0.5" fill="#FFFFFF"></path>
                                                  <path d="M90.8,28.885 C87.6,28.885 85.0666667,31.27 85.0666667,34.5825 C85.0666667,37.7625 87.6,40.28 90.8,40.28 C94,40.28 96.5333333,37.895 96.5333333,34.5825 C96.5333333,31.1375 94,28.885 90.8,28.885 Z M90.8,37.895 C89.0666667,37.895 87.6,36.4375 87.6,34.45 C87.6,32.4625 89.0666667,31.005 90.8,31.005 C92.5333333,31.005 94,32.33 94,34.45 C94,36.4375 92.5333333,37.895 90.8,37.895 Z M78.4,28.885 C75.2,28.885 72.6666667,31.27 72.6666667,34.5825 C72.6666667,37.7625 75.2,40.28 78.4,40.28 C81.6,40.28 84.1333333,37.895 84.1333333,34.5825 C84.1333333,31.1375 81.6,28.885 78.4,28.885 Z M78.4,37.895 C76.6666667,37.895 75.2,36.4375 75.2,34.45 C75.2,32.4625 76.6666667,31.005 78.4,31.005 C80.1333333,31.005 81.6,32.33 81.6,34.45 C81.6,36.4375 80.1333333,37.895 78.4,37.895 Z M63.6,30.6075 L63.6,32.9925 L69.3333333,32.9925 C69.2,34.3175 68.6666667,35.3775 68,36.04 C67.2,36.835 65.8666667,37.7625 63.6,37.7625 C60,37.7625 57.3333333,34.98 57.3333333,31.4025 C57.3333333,27.825 60.1333333,25.0425 63.6,25.0425 C65.4666667,25.0425 66.9333333,25.8375 68,26.765 L69.7333333,25.0425 C68.2666667,23.7175 66.4,22.6575 63.7333333,22.6575 C58.9333333,22.6575 54.8,26.6325 54.8,31.4025 C54.8,36.1725 58.9333333,40.1475 63.7333333,40.1475 C66.4,40.1475 68.2666667,39.3525 69.8666667,37.63 C71.4666667,36.04 72,33.7875 72,32.065 C72,31.535 72,31.005 71.8666667,30.6075 L63.6,30.6075 Z M124.133333,32.4625 C123.6,31.1375 122.266667,28.885 119.333333,28.885 C116.4,28.885 114,31.1375 114,34.5825 C114,37.7625 116.4,40.28 119.6,40.28 C122.133333,40.28 123.733333,38.69 124.266667,37.7625 L122.4,36.4375 C121.733333,37.365 120.933333,38.0275 119.6,38.0275 C118.266667,38.0275 117.466667,37.4975 116.8,36.305 L124.4,33.125 L124.133333,32.4625 Z M116.4,34.3175 C116.4,32.1975 118.133333,31.005 119.333333,31.005 C120.266667,31.005 121.2,31.535 121.466667,32.1975 L116.4,34.3175 Z M110.133333,39.75 L112.666667,39.75 L112.666667,23.1875 L110.133333,23.1875 L110.133333,39.75 Z M106.133333,30.0775 C105.466667,29.415 104.4,28.7525 103.066667,28.7525 C100.266667,28.7525 97.6,31.27 97.6,34.45 C97.6,37.63 100.133333,40.015 103.066667,40.015 C104.4,40.015 105.466667,39.3525 106,38.69 L106.133333,38.69 L106.133333,39.485 C106.133333,41.605 104.933333,42.7975 103.066667,42.7975 C101.6,42.7975 100.533333,41.7375 100.266667,40.81 L98.1333333,41.7375 C98.8,43.195 100.4,45.05 103.2,45.05 C106.133333,45.05 108.533333,43.3275 108.533333,39.22 L108.533333,29.15 L106.133333,29.15 L106.133333,30.0775 Z M103.2,37.895 C101.466667,37.895 100,36.4375 100,34.45 C100,32.4625 101.466667,31.005 103.2,31.005 C104.933333,31.005 106.266667,32.4625 106.266667,34.45 C106.266667,36.4375 104.933333,37.895 103.2,37.895 Z M135.733333,23.1875 L129.733333,23.1875 L129.733333,39.75 L132.266667,39.75 L132.266667,33.5225 L135.733333,33.5225 C138.533333,33.5225 141.2,31.535 141.2,28.355 C141.2,25.175 138.533333,23.1875 135.733333,23.1875 Z M135.866667,31.1375 L132.266667,31.1375 L132.266667,25.44 L135.866667,25.44 C137.733333,25.44 138.8,27.03 138.8,28.2225 C138.666667,29.68 137.6,31.1375 135.866667,31.1375 Z M151.2,28.7525 C149.333333,28.7525 147.466667,29.5475 146.8,31.27 L149.066667,32.1975 C149.6,31.27 150.4,31.005 151.333333,31.005 C152.666667,31.005 153.866667,31.8 154,33.125 L154,33.2575 C153.6,32.9925 152.533333,32.595 151.466667,32.595 C149.066667,32.595 146.666667,33.92 146.666667,36.305 C146.666667,38.5575 148.666667,40.015 150.8,40.015 C152.533333,40.015 153.333333,39.22 154,38.425 L154.133333,38.425 L154.133333,39.75 L156.533333,39.75 L156.533333,33.39 C156.266667,30.475 154,28.7525 151.2,28.7525 Z M150.933333,37.895 C150.133333,37.895 148.933333,37.4975 148.933333,36.4375 C148.933333,35.1125 150.4,34.715 151.6,34.715 C152.666667,34.715 153.2,34.98 153.866667,35.245 C153.6,36.835 152.266667,37.895 150.933333,37.895 Z M164.933333,29.15 L162.133333,36.305 L162,36.305 L159.066667,29.15 L156.4,29.15 L160.8,39.22 L158.266667,44.785 L160.8,44.785 L167.6,29.15 L164.933333,29.15 Z M142.533333,39.75 L145.066667,39.75 L145.066667,23.1875 L142.533333,23.1875 L142.533333,39.75 Z" id="Shape" fill="#FFFFFF"></path>
                                                  <g id="Group" transform="translate(13.333333, 9.275000)">
                                                      <path d="M0.533333333,0.6625 C0.133333333,1.06 0,1.7225 0,2.5175 L0,31.8 C0,32.595 0.266666667,33.2575 0.666666667,33.655 L0.8,33.7875 L17.3333333,17.3575 L17.3333333,17.0925 L0.533333333,0.6625 Z" id="Shape" fill="url(#linearGradient-1)"></path>
                                                      <path d="M22.6666667,22.9225 L17.2,17.49 L17.2,17.0925 L22.6666667,11.66 L22.8,11.7925 L29.3333333,15.5025 C31.2,16.5625 31.2,18.285 29.3333333,19.345 L22.6666667,22.9225 Z" id="Shape" fill="url(#linearGradient-2)"></path>
                                                      <path d="M22.8,22.79 L17.2,17.225 L0.533333333,33.7875 C1.2,34.45 2.13333333,34.45 3.33333333,33.92 L22.8,22.79" id="Shape" fill="url(#linearGradient-3)"></path>
                                                      <path d="M22.8,11.66 L3.33333333,0.6625 C2.13333333,-2.77555756e-17 1.2,0.1325 0.533333333,0.795 L17.2,17.225 L22.8,11.66 Z" id="Shape" fill="url(#linearGradient-4)"></path>
                                                      <path d="M22.6666667,22.6575 L3.33333333,33.5225 C2.26666667,34.185 1.33333333,34.0525 0.666666667,33.5225 L0.533333333,33.655 L0.666666667,33.7875 C1.33333333,34.3175 2.26666667,34.45 3.33333333,33.7875 L22.6666667,22.6575 Z" id="Shape" fill="#000000" opacity="0.2"></path>
                                                      <path d="M0.533333333,33.5225 C0.133333333,33.125 0,32.4625 0,31.6675 L0,31.8 C0,32.595 0.266666667,33.2575 0.666666667,33.655 L0.666666667,33.5225 L0.533333333,33.5225 Z M29.3333333,18.9475 L22.6666667,22.6575 L22.8,22.79 L29.3333333,19.08 C30.2666667,18.55 30.6666667,17.8875 30.6666667,17.225 C30.6666667,17.8875 30.1333333,18.4175 29.3333333,18.9475 Z" id="Shape" fill="#000000" opacity="0.12"></path>
                                                      <path d="M3.33333333,0.795 L29.3333333,15.5025 C30.1333333,16.0325 30.6666667,16.5625 30.6666667,17.225 C30.6666667,16.5625 30.2666667,15.9 29.3333333,15.37 L3.33333333,0.6625 C1.46666667,-0.3975 0,0.3975 0,2.5175 L0,2.65 C0,0.6625 1.46666667,-0.265 3.33333333,0.795 Z" id="Shape" fill="#FFFFFF" opacity="0.25"></path>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </svg>
                          </a>              
                      </div>
                   </div>
              <!--ends-->
              <!--<a href="https://itunes.apple.com/in/app/vantage-circle/id869311123?mt=8&ign-mpt=uo%3D4" target="_blank">-->
              <!--<div class="linkstore transform button-style">
                
                  <a href="https://apps.apple.com/in/app/vantage-fit/id1393594182" target="_blank">
                  <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/appstore-button.png"  alt="applestore" class="img-responsive"></a>
              </div>
              <div class="linkstore transform button-style">
                <a href="javascript:void(0)" ><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/googleplay-button.png"  alt="googleplaystore" class="img-responsive"></a>
                
              </div>-->
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </section>

  <!--Admin dashboard-->
  <section class="section_space" >
    <div class="container">
      <div class="row column-change d-flex align_items_center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <div class="title_head default-spc"><span>Intuitive </span><br>Admin Dashboard</div>
          <p>Vantage Fit includes a highly advanced and intuitive dashboard that allows managers to create and run various health challenges for their employees and view the real-time progress of each employee.</p>
          <div class="image-content">
            
           <div> <span><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/createcontest.png" alt="createcontest" class="img-responsive"></span> Create and Configure Wellness Contests</div>
            <div><span><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/trackrealtime.png" alt="progress" class="img-responsive"></span>Track Real-time Progress</div>
            <div><span><img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/health.png" alt="metrics" class="img-responsive"></span> Health Insights and Metrics</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInRight animated animated text-center image-change" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/admindashboard.png" alt="admindashboard" class="img-responsive image-fit">
        </div>
        </div>
      </div>
    </div>
  </section>
  <!--corporate wellness-->
  <section class="section_space">
    
    <div  class="wellness-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-right mob-pull">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/_guide-to-corporate-wellness.png" alt="wellnessprogram" class="downloadbook">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
          <div class="title_second">
              <div style="margin-bottom:10px"><strong class="guide">A COMPLETE GUIDE TO</strong></div>
              <strong class="second_heading" style="color:#ffffff">Corporate<br> Wellness Programs</strong>
          </div>
          <div class="transform">
            <a class="popup-youtube banner_btn white_button button-style" href="/ebook/free-ebook-corporate-wellness-program/">
               <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/download.png" alt="freedownload" style="width:3%;height:10%" class="hidden-xs hidden-sm"> <span style="color: #ffffff;">&nbsp;&nbsp;Free Download </span>
            </a>
          </div>
        </div>
      </div>
      <div class="images-wellness hidden-xs hidden-sm hidden-sml">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/dumbell.png" class="img-1" alt="wellnessprogram">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/cycle.png" class="img-2" alt="wellnessprogram">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/food.png" class="img-3" alt="wellnessprogram">
        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/shoe.png" class="img-4" alt="wellnessprogram">

      </div>
    </div>
    </div>
    
    <div class="welness-bottom hidden-xs">
    </div>
  </section>
  <!--12 week campaign-->
  <section class="section_space" >
    <div class="container">
      <div class="row d-flex align_items_center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInLeft animated animated text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/12-week-campaign.png" alt="campaign" class="img-responsive">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <div class="title_head default-spc"><span>12 Week</span><br> Campaign</div>
          <p>Vantage Fit’s unique 12-Week Health Campaign feature gives employers the liberty to usher workplace wellness by assigning different health challenges and tasks specially designed by our certified fitness experts each week to help your employees take up a healthy lifestyle. </p>
        </div>
        
        </div>
      </div>
    </div>
  </section>
  <!--Stay and Fit-->
  <section class="section_space">
    <div  style="background:#e8fcfa">
    <div class="container custom-container">
      <div class="row d-flex align_items_center title_second column-change">
        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
          <div class=" wow fadeInDown animated">
            <h4 class="second_heading"><span>Keep your employees</span> fit and productive.</h4>
            <p>Launch a successful employee wellness program with Vantage Fit today.</p> 
            <br>
            <div class="button-black transform ">
              <a href="/request-demo" class="button-style banner_btn">Request Demo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 image-change text-center">
          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/build-a-healthy-workforce.png" alt="Stay fit" style="width:80%">
        </div>
        
      </div>
    </div>
  </div>
  </section>
  <!--Blog section-->
  <section class="section_space">
    <div class="container custom-container">
      <div class="title_head title_spc text-center wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">The Vantage Fit Blog</div>
          <div id="search_field"></div>
    </div>
  </section>
</div>
<script>


(function($) {
  $.fn.circleGraphic = function(options) {
    $.fn.circleGraphic.defaults = {
      color: '#05c8ad',
      startAngle: 0,
      //endAngle:50
    };
    $(this).each(function() {
      let $this = $(this)
      var opts = $.extend({}, $.fn.circleGraphic.defaults, options);
      var percentage = $(this).find('.circle').attr('data-percent');
      //var percentage = $this.html();
      var ID = "c" + percentage + Math.random();
      $this.append("<canvas width='200' height='200' id='" + ID + "'></canvas>");
      var canvas = document.getElementById(ID),
      context = canvas.getContext('2d');
      var Width = $this.width();
      $this.height(Width);
      var Height = $this.height();

      canvas.width = Width;
      canvas.height = Height;
      var startAngle = opts.startAngle,
        endAngle = percentage / 100,
        angle = startAngle,
        radius = Width * 0.4;

      function drawTrackArc() {
        context.beginPath();
        context.strokeStyle = '#ecfdfb';
        context.lineWidth = 7;
        context.arc(Width / 2, Height / 2, radius, (Math.PI / 180) * (startAngle * 360 - 90), (Math.PI / 180) * (endAngle * 360 + 270), false);
        context.stroke();
        context.closePath();
      }

      function drawOuterArc(_angle, _color) {
        var angle = _angle;
        var color = _color;
        context.beginPath();
        context.strokeStyle = color;
        context.lineWidth = 7;

        context.font = '300 70px Poppins,sans-serif';
        context.arc(Width / 2, Height / 2, radius, (Math.PI / 180) * (startAngle * 360 - 90), (Math.PI / 180) * (angle * 360 - 90), false);
        context.stroke();
        context.closePath();
      }

      function numOfPercentage(_angle, _color) {
        var angle = Math.ceil(_angle * 100);
        var color = _color;
        context.fillStyle = '#4a5269';
        var metrics = context.measureText(angle);
        var textWidth = metrics.width;
        var xPos = Width / 2 - textWidth / 2,
          yPos = Height / 2 + textWidth / 2;
          context.textAlign ='center';
          context.direction = 'ltr'
        context.fillText(angle + "%", 137, 157);
      }

      function drawACircleInTheEnd() {
        let radians = angle * 2 * Math.PI;
        context.beginPath();
        context.arc(Width / 2 + radius * (Math.sin(radians)),
          Height / 2 - radius * (Math.cos(radians)),
          3,
          0,
          2 * Math.PI,
          false);

        context.fillStyle = '#05c8ad';
        context.fill();
        context.lineWidth = 7;
        context.strokeStyle = '#05c8ad';
        context.stroke();
      }
          

      function draw() {
        var loop = setInterval(function() {
        var elementPos = $('.circleGraphic').offset().top;
              var topOfWindow = $(window).scrollTop();
              var animate = $('.circleGraphic').data('animate');
               if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
                  context.clearRect(0, 0, Width, Height);
                  drawTrackArc();
                  drawOuterArc(angle, opts.color);
                  numOfPercentage(angle, opts.color);
                  drawACircleInTheEnd();
                  angle += 0.01;
                  if (angle > endAngle) {
                    clearInterval(loop);
                  }
             }

        }, 1000 / 60);
      }
      draw();
      return $this;
    })
  };
})(jQuery);
$('.circleGraphic').circleGraphic();
$(function($) {
$('.popupyoutubevideo,.popupvideosection').magnificPopup({
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,
      fixedContentPos: false
  });
});

</script>
