{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}


<div class="elementor">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
        <section class="breadcrumb_area breadcrumb_area_two vc-btn-gradient-color vc-btn-gradient-general"> 
        	<img class="breadcrumb_shap" src="https://res.cloudinary.com/vantagecircle/image/upload/vantagecms/uploads/2020/01/banner_bg2.png" alt="banner">
        	<div class="container">
        		<div class="breadcrumb_content text-center">
        			<h1 class="main_title"> {{title}}</h1>
        		</div>
        	</div> 
        </section>
        <section>
        	<div class="container">
        		<div class="row">
        			<div class="row_elementor">
	        			<div class="main-content">
		        			{{content}}
		        		</div>
		        	</div>
        		</div>
        </section>
            
        </div>
    </div>
</div>

{{/post}}
