{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}



<div class="elementor">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
        <section class="breadcrumb_area breadcrumb_area_two vc-btn-gradient-color vc-btn-gradient-general"> 
        	<img class="breadcrumb_shap hidden-xs " src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/lines.png" alt="lines">
            <img class="breadcrumb_pulse hidden-xs campaign hidden-sm hidden-sml" src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/topheader.png" alt="pulse">
        	<div class="container">
        		<div class="breadcrumb_content text-center main_title  wow fadeInUp  " data-wow-delay=".1s" style="visibility: visible;-webkit-animation-delay: .1s; -moz-animation-delay: .1s; animation-delay: .1s;">
        			<h1> Walk from Home</h1>
                    <p style="color:#ffffff">Top participants can win upto worth Rs 3000 gift vouchers.</p> 
        		</div>
        	</div> 
        </section>
        
            <!--body-->
            <div class='main-content campaignlandingpage' style="padding-bottom:60px">
                <section>
                    <div class="container custom-container">
                            <div class="row d-flex align_items_center campaigncontainer">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center campaignlpage title_spc  wow fadeInUp  " data-wow-delay=".1s" style="visibility: visible;-webkit-animation-delay: .1s; -moz-animation-delay: .1s; animation-delay: .1s;">
                                    <h2 class="title_head">Participate now <br><span>with just two easy steps</span></h2>
                                </div>
                            </div>
                            <div class="row d-flex align_items_center campaigncontainer defaultspc title_spc">
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 d-left campaignlpage  text-center fadeInLeft wow imagelogoleft" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/step1.png" alt="logimobile" class="img-responsive imagesteps">            
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 d-left wow fadeInRight imagelogoright" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <div class="activecolor">Step 1</div>
                                    <div>Download the Vantage Fit app from Google PlayStore for Android or App Store for iOS.</div>
                                    
                                </div>
                            </div>
                            <div class="row d-flex align_items_center campaigncontainer defaultspc">
                                <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 d-left campaignlpage text-center wow fadeInLeft imagelogoleft" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/step2.png" alt="logimobile" class="img-responsive imagesteps">            
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 d-left wow fadeInRight imagelogoright" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <div class="activecolor">Step 2</div>
                                    <div>Sign in with your personal e-mail address.</div>
                                    
                                </div>
                            </div>
                        <section class="section_space">
                            <div class="row d-flex align_items_center campaigncontainer ">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center campaignlpage title_default wow fadeInUp  " data-wow-delay=".1s" style="visibility: visible;-webkit-animation-delay: .1s; -moz-animation-delay: .1s; animation-delay: .1s;">
                                    <h4><span>Download the</span> Vantage Fit <span>app today!</span></h4>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 d-left campaignlpage fadeInLeft wow text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/playstorebutton.png" alt="appdownload" class="downloadlogo">            
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 d-left wow fadeInRight text-center" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/appstorebutton.png" alt="appdownload" class="downloadlogo">
                                    
                                </div>
                            </div>
                        </section>
                        <!--sec section-->
                        <section class="section_space">
                            <div class="row d-flex align_items_center defaultspc  column-change ipadcolumn-change">
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 d-left campaignlpage fadeInLeft wow" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <h2 class="title_head title_default">Walk More <span>to Earn More</span></h2>
                                    <p><b>Walk from Home </b>- A unique program to help you take the first step towards a healthier lifestyle.</p>
                                    <p>This quarantine get yourself moving with Vantage Fit and earn exciting rewards. Be it walking around attending your calls or doing some grooving around to relax off, make every step count with us. </p>
                                    <p>The only rule we got for you is just “Move, Move and Move” within your house and climb up the leaderboard beating everyone else. </p>
                                    <p>Sounds like it’s your winning turf?</p>                        
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 d-left wow fadeInRight animated animated text-center fadeInRight wow" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/walkfromhome.png" class="img-responsive imagerunning">
                                </div>
                            </div>
                        </section>
                        <section class="section_space ">
                            <div class="wellness-background campaignwellness">
                           
                              <div class="row campaignlpage  d-flex align_items_center" style="position:relative">
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 d-left campaignlpage wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <div class="prizeimg hidden-xs hidden-sm">
                                        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/prize.png" class=" " alt="prize" class="">
                                    </div>
                                    <div>
                                        <h2 class="title_head title_default" style="color:#ffffff">Prize <span>for the winners</span></h2>
                                    </div>
                                    <div style="color:#ffffff" class="max-leng">
                                        Top 3 participants will get gift vouchers worth <b>Rs 3000, Rs 2000 & Rs 1000</b>.

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 d-left wow fadeIDown animated animated text-center " data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/winner.png" class="winner" alt="winner">
                                </div>
                                <div class="giftsection hidden-xs hidden-sm">
                                        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/gift.png" class=" " alt="gift" class="">
                                </div>
                              </div>
                          
                        </div>
                        </section>
                        <!--laast section-->
                        <section class="section_space">
                            <div class="row d-flex align_items_center campaigncontainer">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center campaignlpage wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                                    <h4 class="">So what are you waiting for? </h4>
                                    <div>Join the campaign now and earn with every step you take.</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
            <!--body-->
        </div>
    </div>
</div>



