body {
	font: 300 15px/28px Poppins, sans-serif;
	color: #4c5267;
	letter-spacing: 0;
	padding: 0;
	overflow-x: hidden;
	z-index: 0;
	position: relative;
}

p {
	font-size: 15px;
}

.new_footer_area {
	background: #4a4f53;
}

.new_footer_top {
	padding: 100px 0 80px;
	position: relative;
}

.new_footer_area .widget.footer-widget:nth-child(1),
.new_footer_area .widget.footer-widget:nth-child(2),
.new_footer_area .widget.footer-widget:nth-child(3),
.new_footer_area .widget.footer-widget:nth-child(4),
.new_footer_top .f_widget.about-widget ul li:first-child {
	padding-top: 0;
}

.pl_70 {
	padding-left: 70px;
}

.new_footer_top .f_widget.about-widget ul li a {
	color: rgba(255, 255, 255, .8);
	padding-left: 0;
	font-size: 14px;
}

.f_widget.about-widget ul li a {
	font: 300 16px/20px Poppins, sans-serif;
	color: #677294;
	position: relative;
	-webkit-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
	display: inline-block;
}

.new_footer_top .f_widget.about-widget ul li {
	margin-bottom: 6px;
}

.widget.widget_archive ul li,
.widget.widget_categories ul li,
.widget.widget_meta ul li,
.widget.widget_nav_menu ul li,
.widget.widget_pages ul li {
	font-weight: 400;
	color: rgba(255, 255, 255, .8);
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget.widget_archive ul,
.widget.widget_categories ul,
.widget.widget_meta ul,
.widget.widget_nav_menu ul,
.widget.widget_pages ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.new_footer_top p {
	font-size: 14px;
	font-weight: 300;
	line-height: 28px;
	color: rgba(255, 255, 255, .8);
	margin-bottom: 20px;
}

.textwidget p {
	font-weight: 400;
	line-height: 1.9em;
}

.new_footer_area .widget.footer-widget {
	padding-top: 50px
}

.widget img {
	max-width: 100%;
	height: auto;
}

.footer-widget .widget_title {
	color: rgba(255, 255, 255, .8);
}

.f_size_18 {
	font-size: 18px;
}

.f_600 {
	font-weight: 600;
}

.new_footer_top .f-title {
	margin-bottom: 30px;
}

.new_footer_area .footer_bottom p a:hover,
.new_footer_top .f_widget.about-widget ul li a:hover {
	text-decoration: underline;
}

.row {
	width: 100%;
	margin: 0 auto;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.new_footer_area .footer_bottom p {
	font-size: 14px;
	color: rgba(255, 255, 255, .8);
	line-height: 28px;
	margin-bottom: 0;
	-webkit-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

.footer_bottom p a {
	color: rgba(255, 255, 255, .8);
	-webkit-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

.new_footer_area .footer_bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer_bottom {
	background: #fff;
}

.f_widget.about-widget .f_list li a,
.footer_area_four .footer_top ul li a,
.footer_bottom {
	font-weight: 400;
}

.footer_bottom {
	font-size: 14px;
	line-height: 20px;
	color: #7f88a6;
	padding: 27px 0;
}

.btn,
a,
button {
	text-decoration: none;
	outline: 0;
}

.nav-link:focus,
.nav-link:hover {
	text-decoration: none;
}

.btn:focus,
.btn:hover,
a:focus,
a:hover,
button:focus,
button:hover {
	text-decoration: none;
	outline: 0;
}

.social-icons,
.social-icons .icons {
	display: inline-block;
}

.social-icons .icons {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	margin-left: 5px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	line-height: 2.1;
	border: 1px solid rgba(255, 255, 255, .8);
}

.social-icons .icons a {
	color: rgba(255, 255, 255, .8);
	padding: 2px;
}

.fa,
.fab,
.fal,
.far,
.fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

i:before {
	margin-left: 0!important;
}

.align-items-center {
	-ms-flex-align: center!important;
	align-items: center!important;
}

.text-right {
	text-align: right!important;
}

.navbar-brand>img {
	width: 220px;
}

.header_area.navbar_fixed .navbar .btn_get.btn-meta:hover {
	color: #fff;
}

.footer_bottom {
	background: rgba(0, 0, 0, .3);
}

.header_area .navbar .navbar-nav .menu-item a,
.menu>.nav-item.submenu .dropdown-menu .nav-item .nav-link {
	font-weight: 400;
	font-style: normal;
}

.menu>.nav-item.submenu.mega_menu.mega_menu_two .mega_menu_inner .dropdown-menu .nav-item .item .text {
	line-height: 15px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

.header_area .navbar .navbar-nav .menu-item a {
	color: #fff;
}

.header_area.navbar_fixed .navbar .navbar-nav .menu-item a {
	color: #181818;
}

.header_area.navbar_fixed .navbar {
	padding: .5rem 1rem;
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem;
}

.elementor-section {
	position: relative
}

.menu_toggle .hamburger span,
.menu_toggle .hamburger-cross span,
.navbar .search_cart .search a.nav-link:before {
	background: #212529;
}

,
.header_area .menu>.nav-item.active .nav-link,
.header_area .navbar .navbar-nav .menu-item a:hover {
	color: #fff!important;
}

.menu>.nav-item.active .nav-link:before {
	width: 100%;
	left: 0;
	right: auto;
}

.header_area .navbar .navbar-nav .menu-item {
	margin-top: 0;
	margin-right: 55px;
	margin-bottom: 0;
	margin-left: 0;
}

.menu>.nav-item>.nav-link {
	font: 500 15px Poppins, sans-serif;
	padding: 0;
	-webkit-transition: color .3s ease 0s;
	-o-transition: color .3s ease 0s;
	transition: color .3s ease 0s;
	position: relative;
}

.header_area .navbar .btn_get {
	border: 1px solid #fff;
	color: #fff;
}

.btn_get {
	font: 500 14px/47px Poppins, sans-serif;
	color: #f15162;
	border: 1px solid #f15162;
	border-radius: 4px;
	-webkit-box-shadow: 0 20px 24px 0 rgba(0, 11, 40, .1);
	box-shadow: 0 20px 24px 0 rgba(0, 11, 40, .1);
	padding: 0 23px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	min-width: 120px;
	text-align: center;
	font-size: 14px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
}

a:hover {
	color: #f15162;
}

.menu>.nav-item>.nav-link {
	font: 500 15px Poppins, sans-serif;
	padding: 0;
	-webkit-transition: color .3s ease 0s;
	-o-transition: color .3s ease 0s;
	transition: color .3s ease 0s;
	position: relative;
}

.header_area .navbar .navbar-nav .menu-item a,
.menu>.nav-item.submenu .dropdown-menu .nav-item .nav-link {
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
}

.menu>.nav-item>.nav-link:hover:before {
	content: "";
	width: 0;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.nav-link.active:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.navbar_fixed .nav-link.active:before {
	background: #181818;
}

.navbar_fixed .menu>.nav-item>.nav-link:before {
	background: #181818!important;
}

.menu>.nav-item:hover .nav-link:before {
	width: 100%;
	left: 0;
	right: auto;
}

@supports (-webkit-overflow-scrolling:touch) {
	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
		background-attachment: scroll;
	}
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
	.wp-block-cover-image:after,
	.wp-block-cover:after {
		content: none;
	}
}

.wp-block-embed {
	margin-bottom: 1em;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
	.blocks-gallery-grid .blocks-gallery-image figure,
	.blocks-gallery-grid .blocks-gallery-item figure,
	.wp-block-gallery .blocks-gallery-image figure,
	.wp-block-gallery .blocks-gallery-item figure {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
	.blocks-gallery-grid .blocks-gallery-image img,
	.blocks-gallery-grid .blocks-gallery-item img,
	.wp-block-gallery .blocks-gallery-image img,
	.wp-block-gallery .blocks-gallery-item img {
		width: auto;
	}
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
	.blocks-gallery-grid.is-cropped .blocks-gallery-image a,
	.blocks-gallery-grid.is-cropped .blocks-gallery-image img,
	.blocks-gallery-grid.is-cropped .blocks-gallery-item a,
	.blocks-gallery-grid.is-cropped .blocks-gallery-item img,
	.wp-block-gallery.is-cropped .blocks-gallery-image a,
	.wp-block-gallery.is-cropped .blocks-gallery-image img,
	.wp-block-gallery.is-cropped .blocks-gallery-item a,
	.wp-block-gallery.is-cropped .blocks-gallery-item img {
		height: 100%;
		flex: 1;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.navbar_fixed.header_area .navbar .btn_get {
	background: #f15162;
	color: #fff;
	border-color: #f15162;
}

.header_area.navbar_fixed {
	z-index: 999;
}

.header_area.navbar_fixed {
	position: fixed!important;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .06);
	box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .06);
}

.header_area {
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	width: 100%;
	left: 0;
	z-index: 20;
	top: 0;
	position: absolute;
}

.menu>.nav-item {
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
}

.navbar-toggler {
	padding: 0;
	margin-left: 20px;
}

.navbar-toggler:focus {
	outline: 0;
}

.menu_toggle {
	width: 22px;
	height: 22px;
	position: relative;
	cursor: pointer;
	display: block;
}

.menu_toggle .hamburger {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
}

.menu_toggle .hamburger span {
	width: 0%;
	height: 2px;
	position: relative;
	top: 0;
	left: 0;
	margin: 4px 0;
	display: block;
	background: #fff;
	border-radius: 3px;
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.menu_toggle .hamburger span:nth-child(1) {
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.menu_toggle .hamburger span:nth-child(2) {
	-webkit-transition-delay: .125s;
	-o-transition-delay: .125s;
	transition-delay: .125s;
}

.menu_toggle .hamburger span:nth-child(3) {
	-webkit-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.menu_toggle .hamburger-cross {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
}

.menu_toggle .hamburger-cross span {
	display: block;
	background: #fff;
	border-radius: 3px;
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.menu_toggle .hamburger-cross span:nth-child(1) {
	height: 100%;
	width: 2px;
	position: absolute;
	top: 0;
	left: 10px;
	-webkit-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

.menu_toggle .hamburger-cross span:nth-child(2) {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	top: 10px;
	-webkit-transition-delay: .4s;
	-o-transition-delay: .4s;
	transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span {
	width: 100%;
}

.collapsed .menu_toggle .hamburger span:nth-child(1) {
	-webkit-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

.collapsed .menu_toggle .hamburger span:nth-child(2) {
	-webkit-transition-delay: .4s;
	-o-transition-delay: .4s;
	transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span:nth-child(3) {
	-webkit-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
	height: 0%;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
	width: 0%;
	-webkit-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.menu_toggle .hamburger span,
.menu_toggle .hamburger-cross span,
header.header_area.navbar_fixed .menu_toggle .hamburger span,
header.header_area.navbar_fixed .menu_toggle .hamburger-cross span,
header.navbar_fixed .menu_toggle .hamburger span,
header.navbar_fixed .navbar .search_cart .search a.nav-link:before {
	background: #181818;
}

.stick_logo {
	display: none;
}

.d_logo {
	display: block;
}

.navbar_fixed .stick_logo {
	display: block;
}

.navbar_fixed .d_logo {
	display: none;
}

.n_hero_banner_area svg {
	position: absolute;
	bottom: -29px;
	height: 350px;
	width: 100%;
	left: 0;
}

.n_hero_banner_area {
	min-height: 1060px;
	position: relative;
	z-index: 1;
	padding-top: 80px;
	background-image: -moz-linear-gradient(-45deg, #ff6c7c 0, #f5664c 100%);
	background-image: -webkit-linear-gradient(-45deg, #ff6c7c 0, #f5664c 100%);
	background-image: -ms-linear-gradient(-45deg, #ff6c7c 0, #f5664c 100%);
	overflow: hidden;
}

.left_pclr {
	padding-left: 0;
}

.n_banner_content {
	padding-top: 160px;
	color: #fff;
}

.n_banner_content h1 {
	font-size: 39px;
	line-height: 52px;
	font-weight: 600;
	margin-bottom: 30px;
}

.shape_banners_left {
	position: absolute!important;
	bottom: -10%;
	height: 100%;
	width: 30%;
	left: -5%;
	z-index: -1;
}

.n_banner_content p {
	font-size: 16px;
	font-weight: 300;
	line-height: 27px;
	padding-bottom: 10px;
}

a.popup-youtube .fa {
	font-size: 20px;
}

.banner_btn.button_white {
	background: #fff;
}

.button_width {
	min-width: 200px;
	text-align: center;
}

.linkstore.button_width {
	margin-right: 20px;
	padding: 23px 28px;
	max-width: 220px;
	min-width: 220px;
	background-color: rgba(255, 255, 255, .9);
}

.linkstore.button_width img {
	width: 24%;
}

.banner_btn {
	font: 500 16px Poppins, sans-serif;
	border-radius: 4px;
	padding: 14px 35px;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	cursor: pointer;
}

.app_downloadbanner svg {
	width: 28%;
	position: none;
	position: static;
	bottom: 0;
	height: auto;
}

.app_downloadbanner {
	margin-top: 45px;
}

.dwnload_app {
	width: auto;
	display: inline;
	margin-right: 20px;
}

.banner_btn:hover,
.icons:hover,
.transform:hover {
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.transform {
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.white_button {
	border: 1px solid #fff;
	color: #fff;
}

.vc_button {
	background: #fff;
	border: 1px solid #fff;
	color: #f15162;
}

.mb_40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

section.section_space {
	padding: 100px 0 25px;
}

.mobile_img .mobile_banner {
	margin-top: 45px;
	position: relative;
	left: -44%;
}

.align_items_center {
	align-items: center;
}

img.vfit {
	position: absolute;
	left: 20%;
	bottom: -4%;
}

.lines {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}

.pulse {
	position: absolute;
	top: 6%;
	right: -2px;
	width: 16%;
}

.img-responsive {
	width: 100%;
}

.title_spc {
	padding-bottom: 60px;
}

.content_benefits .innertext {
	color: #4a5269;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

.outline-round {
	margin-bottom: 30px;
}

.wellnessprogram p {
	font-size: 14px;
}

.wellnessprogram {
	padding-top: 30px;
}

.outline-round::before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #f15162;
}

.rel_text {
	position: relative;
	left: 22px;
	max-width: 90%;
}

.row_elementor {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.box_item {
	background: #fff;
	border: 1px solid #eee;
	border-radius: 15px;
	-webkit-box-shadow: 0 3px 10.92px 1.08px rgba(0, 0, 0, .07);
	-moz-box-shadow: 0 3px 10.92px 1.08px rgba(0, 0, 0, .07);
	box-shadow: 0 3px 10.92px 1.08px rgba(0, 0, 0, .07);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 20px 15px;
	margin-bottom: 30px;
	cursor: pointer;
	min-height: 80px;
}

.box_item.active-sec {
	-webkit-box-shadow: 0 3px 10.92px 1.08px rgba(248, 104, 92, .19);
	-moz-box-shadow: 0 3px 10.92px 1.08px rgba(248, 104, 92, .19);
	box-shadow: 0 3px 10.92px 1.08px rgba(248, 104, 92, .19);
}

.Image-Overlay {
	display: none;
}

.active-img {
	display: block!important;
}

.featurestext {
	display: inline;
	width: 69%;
	float: left;
}

.featurestext .trackertext {
	margin-bottom: 0;
	font-weight: 500;
	line-height: 1.2;
	font-size: 16px;
}

.featuresimg {
	display: inline;
	width: 30%;
	float: left;
	text-align: center;
}

.active-sec {
	color: #f15162;
	border: 1px solid #f59c94;
	transition: all .9s ease-in-out;
	-webkit-transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	-ms-transition: all .9s ease-in-out;
	-o-transition: all .9s ease-in-out;
}

.left-activity {
	padding-right: 0;
	max-width: 22%;
	margin-left: 13%;
	margin-top: 135px;
	position: relative;
	right: -8px;
}

.image-fit {
	padding-top: 30px;
}

.featuresimg img {
	width: 35px;
}

.mid-activity {
	padding: 0;
	z-index: 9;
}

.mid-activity {
	max-width: 29%;
}

.right-activity {
	padding-left: 0;
	max-width: 22%;
	margin-right: 13%;
	margin-top: 135px;
	position: relative;
	left: -8px;
}

.vc_active {
	color: #f15162;
	font-weight: 400;
	font-size: 18px;
}

.title_second .second_heading {
	color: #282835;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: .5rem;
}

.title_second .second_heading span {
	font-weight: 300;
}

.healthforce p {
	font-size: 16px;
}

.title_second {
	padding: 60px 0;
}

.default-spc {
	margin-bottom: 40px;
}

.guide {
	background: rgba(255, 255, 255, .3);
	font-size: 15px;
	margin-bottom: 15px;
	padding: 3px 10px;
	color: #fff;
	font-weight: 500;
}

.outline-round-li {
	list-style: none;
}

.outline-round-li li:before {
	content: "\25E6";
	color: #f15162;
	display: inline-block;
	width: 22px;
	margin-left: -.9em;
	font-weight: 800;
	font-size: 22px;
	top: 3px;
	position: relative;
}

.breadcrumb_area_two .breadcrumb_shap {
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 50%;
}

.breadcrumb_pulse {
	position: absolute;
	right: 0;
	top: 25%;
	width: 22%;
}

.vc-btn-gradient-general {
	background-image: -webkit-linear-gradient(-45deg, #ff6c7c 0, #f5664c 100%);
	background-image: -ms-linear-gradient(-45deg, #ff6c7c 0, #f5664c 100%);
}

.breadcrumb_area {
	padding: 200px 0 60px;
}

.breadcrumb_area_two {
	background-image: linear-gradient(-90deg, #f15162 0, #f8654a 100%);
	position: relative;
	padding: 210px 0 150px;
	z-index: 1;
}

.main_title h1 {
	color: #fff;
	font-size: 50px;
}

.main-content {
	padding: 120px 0;
	width: 100%;
}

.hs-button,
.hs_submit.hs-submit input,
.main-button {
	background: #f15162!important;
	color: #fff;
	border-color: #f15162;
	padding: 12px 55px;
	border-radius: 5px;
	margin-top: 40px;
	outline: 0;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.hs-button,
.hs_submit.hs-submit input {
	padding: 10px 50px;
}

.hs_submit.hs-submit input:hover,
.main-button:hover {
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.image-content div {
	font-weight: 600;
	margin-bottom: 10px;
}

.image-content img {
	width: 30px;
	padding-right: 10px;
}

.healthyworkforce img {
	position: relative;
	bottom: -30px;
}

section.section_space.video_area {
	position: relative;
	z-index: 1;
	background: #f7f7f7;
	padding-bottom: 110px;
	margin-top: 70px;
}

.video_content {
	position: relative;
}

.video_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 4px;
	background-size: cover;
	-webkit-box-shadow: 0 50px 70px 0 rgba(0, 11, 40, .24);
	box-shadow: 0 50px 70px 0 rgba(0, 11, 40, .24);
	height: 450px;
	max-width: 770px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	background: url(https://res.cloudinary.com/vantagecircle/image/upload/v1582785116/VantageFit/website/video_vantagefit.png) no-repeat;
	background-size: cover;
}

.video_icons {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	line-height: 85px;
	font-size: 30px;
	position: relative;
	-o-transition: all .3s linear;
	display: inline-block;
}

.video_icons i {
	color: #17c7bd;
	text-shadow: 0 6px 25px rgba(16, 147, 140, .9);
	position: relative;
}

.video_icons i:after {
	width: 300%;
	height: 300%;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 1px 15px 1px rgba(255, 255, 255, .5);
	box-shadow: 0 1px 15px 1px rgba(255, 255, 255, .5);
	content: "";
	-webkit-animation: pulse 2s infinite;
	-ms-transform: scale(8);
	transform: scale(8);
	animation: pulse 2s infinite;
}

.video_icons:after {
	-webkit-transform: scale(3.8);
	-ms-transform: scale(3.8);
	transform: scale(3.8);
}

.video_info::after {
	position: absolute;
	background: rgba(83, 90, 114, .9);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	content: '';
}

.video_icons:before {
	-webkit-transform: scale(2.5);
	-ms-transform: scale(2.5);
	transform: scale(2.5);
}

.iconplay {
	float: left;
	margin: 40px;
	width: 130px;
	height: 130px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	background: rgba(255, 255, 255, .9);
	border-radius: 50%;
	animation: shadow-pulse 2s infinite;
}

.iconplay i {
	font-size: 45px;
	position: relative;
	left: 42%;
	color: #f15162;
}

.wrapper {
	padding: 20px;
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
	}
	100% {
		box-shadow: 0 0 0 35px transparent;
	}
}

@keyframes shadow-pulse-big {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .1)
	}
	100% {
		box-shadow: 0 0 0 70px transparent;
	}
}

label {
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-family: Poppins, sans-serif;
	line-height: 1.4;
	margin-bottom: 8px;
	margin-top: 25px;
}

.hbspt-form {
	width: 100%;
}

.hs-input {
	outline: 0;
	color: #666;
	border-radius: 4px!important;
	padding: 6px 13px 5px;
	width: 95%;
	font-size: 13px;
	border: 1px solid #cbd6e2;
	height: 40px;
	background-color: #fff!important;
	transition: all .3s ease!important;
	font-family: Poppins, sans-serif!important;
}

.hbspt-form fieldset {
	max-width: 100%!important;
}

.d-left {
	float: left;
}

.request-demo-form {
	padding: 30px 40px 55px;
	z-index: 99;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	width: 90%;
	margin: 40px auto 0;
	float: right;
	margin-bottom: 120px;
	min-height:510px;
}

ul.hs-error-msgs.inputs-list {
	list-style: none;
}

ul.hs-error-msgs {
	padding-left: 0;
	margin-top: 10px;
	color: red;
	margin-bottom: 0;
}

ul.hs-error-msgs.inputs-list label {
	margin-top: 10px!important;
	max-width: 95%;
}

input[type=email]:focus,
input[type=tel]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
	background-color: #f6f6f6!important;
	outline: 0;
	outline-offset: 0;
	border: 1px solid #d7d6d7!important;
}

.page-template .title_head {
	font-size: 39px;
	color: #2c2d4f;
	font-weight: 600;
	line-height: 1.2;
}

.secondarytext {
	margin-top: 10px;
}

.page-template .title_head span {
	font-weight: 400;
}

.button-black a {
	background: 0 0;
	color: #4c5267!important;
	border: 1px solid #4c5267;
	font: 500 16px Poppins, sans-serif;
	border-radius: 4px;
	padding: 14px 35px;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	cursor: pointer;
}

.button-style:hover {
	-webkit-box-shadow: 0 20px 30px 0 rgba(12, 0, 46, .1);
	box-shadow: 0 20px 30px 0 rgba(12, 0, 46, .1);
	text-decoration: none!important;
}

.wellness-background {
	background-image: -moz-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	background-image: -webkit-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	background-image: -ms-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	position: relative;
}

.welness-bottom {
	background-image: -moz-linear-gradient(0deg, rgba(250, 105, 103) 0, #f56765 1%, #ed6a58 100%);
	background-image: -webkit-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	background-image: -ms-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	opacity: .3;
	min-height: 70px;
}

.images-wellness img {
	position: absolute;
}

.images-wellness .img-1 {
	top: -4px;
	left: 10%;
}

.images-wellness .img-2 {
	top: 35px;
	right: 13%;
}

.images-wellness .img-3 {
	bottom: -4px;
}

.images-wellness .img-4 {
	bottom: 55px;
	right: 6%;
}

.downloadbook {
	position: relative;
	bottom: -40px;
	z-index: 9;
}

.second-image {
	display: none;
}

.active-sec .second-image {
	display: inline-block;
}

.active-sec .first-image {
	display: none;
}

.transform.button-black div {
	display: inline-block;
	vertical-align: middle;
}

.transform.button-black span {
	display: block;
}

.linkstore {
	padding: 20px 24px;
	border: 1px solid #282835;
	margin-right: 10px;
	border-radius: 4px;
	display: inline;
}

.linkstore img {
	width: 27%;
}

.trackertext.moodmeter {
	padding-top: 8px;
}

.secondarytext {
	color: #4a5269;
}

.vc_active:hover {
	text-decoration: underline;
}

.vc_active:hover span {
	text-decoration: none;
}

.runningimg {
	position: absolute;
	top: 133%;
}

.error_area {
	background-image: -moz-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	background-image: -webkit-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	background-image: -ms-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 650px;
	color: #fff;
}

.featurespage img {
	width: 6%;
	padding-bottom: 15px;
}

.featurescontent {
	margin-bottom: 40px;
}

.main_features.img-responsive {
	width: 80%;
}

.pricingouter {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	padding: 80px 0;
	width: 100%;
}

.column-left {
	text-align: center;
	border-right: 1px solid #cbd6e2;
	min-height: 243px;
	padding: 0 70px;
}

.premiumprice {
	font-size: 25px;
	vertical-align: middle;
	font-weight: 500;
	color: #f15162;
}

.button_company {
	background-color: #f15162;
	border: 1px solid #f15162;
	color: #fff;
	width: 211px;
	margin: auto;
}

.button_company:hover {
	color: #fff;
}

.pricetick li {
	list-style: none;
	font-size: 15px;
	padding: 5px 0;
}

.column-right {
	padding: 0 70px;
}

ul.pricetick {
	padding-inline-start: 0;
}

ul.pricetick li .fa {
	color: #f15162;
}

ul.pricetick li .fa {
	color: #f15162;
	padding-right: 10px;
}

.main_title p {
	padding: 0 190px;
}

ul.pricetick .fa-info-circle {
	font-size: 13px;
	margin-top: -2px;
	margin-left: 4px;
}

ul.pricetick button {
	background: 0 0;
	border: none;
}

.fa-info-circle:before {
	color: #73738c;
}

.post-card-title {
	font-size: 22px;
	margin-bottom: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	min-height: 44px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	color: #181818;
}

article.post-card {
	box-shadow: 0 3px 11.7px 1.3px rgba(124, 64, 163, .1);
	margin-bottom: 40px;
}

article.post-card .post-card-content {
	padding: 35px 20px 20px;
}

.main_title h1.post-title {
	font-size: 40px;
}

.post-content img {
	width: 100%;
}

blockquote {
	background-color: #fff;
	-webkit-box-shadow: 0 10px 30px 0 rgba(20, 3, 67, .08);
	box-shadow: 0 10px 30px 0 rgba(20, 3, 67, .08);
	border-radius: 6px;
	padding: 28px 40px 15px 40px!important;
	position: relative;
	overflow: hidden;
	border-left: 6px solid #f15162;
	z-index: 0;
	margin: 50px 0;
	width: 100%;
	border-left: 6px solid #f15162;
	color: #181818;
}

blockquote p {
	font-size: 17px;
}

.post-content h2 {
	color: #181818;
	font-size: 28px;
	margin-bottom: 30px;
	margin-top: 40px;
	line-height: 1.5;
	font-weight:500;
}

.post-content h3 {
	color: #181818;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 40px;
	width: 100%;
	line-height: 1.5;
	font-weight:400;
}

.post-content h4 {
	color: #181818;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 40px;
	width: 100%;
	line-height: 1.5;
	font-weight:400;
}

.downloadsection.requestdemo {
	background: #e8fcfa;
	color: #4c5267;
}

.details-post strong {
	font-weight: 500;
}

.details-post ul li {
	margin-bottom: 5px;
	word-break: break-word;
}

.details-post ul {
	word-break: break-word;
}

.post-title {
	color: #181818;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}

.contentresource img {
	width: 60%;
	margin: 50px 0;
}

.pclr {
	padding: 0;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 150px;
}

.ind-row {
	margin-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	padding-bottom: 20px;
}

.rightsidebar .ind-row:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.post-content .img-ind {
	margin: 0;
}

.downloadsection {
	font-size: 17px;
	margin-bottom: 30px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
}

.b10 {
	padding-bottom: 0!important;
}

.post-content a {
	color: #f15162;
}

.post-content a:hover {
	text-decoration: underline;
}

.post-content img.detailspostimg {
	margin-top: 0;
	width: 100%;
	border-radius: 5px;
}

.main_title h1.singlepost_header {
	font-size: 35px;
	padding: 0 170px;
}

.downloadsection h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}

.post-content .tagspost {
	margin-right: 35px;
	position: relative;
}

.tagspost:after {
	position: absolute;
	content: "|";
	top: -1px;
	right: -20px;
}

.readtime_wrapper {
	display: inline-block;
	margin-top: -10px;
}

.tagspost {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font: 400 14px Poppins, sans-serif;
}

.tagspost {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 14px;
}


.contactusimage {
	position: absolute;
	bottom: 4px;
}

.form-text {
	height: 100%;
}

textarea {
	min-height: 70px;
}

.downloadsection .banner_btn {
	padding: 10px 15px;
	margin-top: 10px;
}

.ebook {
	margin-top: 0;
	margin-bottom: 0;
}

.ebookcontent {
	margin-bottom: 20px;
	line-height: 30px;
}

.contentarea li:before,
ul.bullets li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #f15162;
}

.bullets li,
.contentarea li {
	list-style: none;
	position: relative;
	padding: 0 0 0 20px;
	margin-bottom: 15px;
}

.bullets {
	padding-inline-start: 0;
}

h4 {
	color: #2c2d4f;
}

.campaignlpage h4 {
	font-weight: 600;
	line-height: 35px;
	font-size: 30px;
}

.campaignlpage h4 span {
	font-weight: 400;
}

.imagerunning {
	max-width: 80%;
}

.campaigncontainer {
	max-width: 600px;
}

.imagesteps {
	border: 1px solid #f15162;
	padding: 20px;
	border-radius: 6px;
	width: 75%;
	border-color: rgba(#f15162, #f15162, #f15162, .3);
}

.breadcrumb_pulse.campaign {
	position: absolute;
	right: 0;
	top: 0;
	width: 35%;
	height: 100%;
	bottom: 0;
}

.activecolor {
	color: #f15162;
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 20px;
}

.downloadlogo {
	background: #2c2d4f;
	padding: 15px 35px;
	border-radius: 5px;
	max-width: 80%;
}

.campaignwellness {
	padding: 60px 40px;
}

.prizeimg {
	margin-bottom: 40px;
}

.title_default {
	margin-bottom: 30px;
}

.giftsection {
	position: absolute;
	bottom: -65px;
	left: 33%;
}

.giftsection img {
	width: 79%;
}

.campaignwellness .max-leng {
	max-width: 300px;
}

.new_footer_area .footer_bottom.campaignfooter {
	padding: 20px;
}

.textright {
	text-align: left;
}

.textleft {
	text-align: right;
}

.mobileview {
	display: none;
}

.main-content.campaignlandingpage {
	padding-bottom: 60px;
}

.campaign_sectitle {
	font-size: 17px;
}

.abtesting,
.featuredpage {
	display: none;
}

.marketinglanding.featured.no-image {
	display: none;
}

.featuredpage.featured.no-image {
	display: block;
}

.index_download {
	margin-top: 30px;
}

.app_downloadbanner.index_download svg {
	width: 32%;
}

#search_field {
	display: inline-table;
	height: 100%;
	margin-bottom: 60px;
	margin-top: 10px;
}

.post_titel {
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	min-height: 44px;
	text-overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #4a5269;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	padding: 35px 20px 0;
	width: 100%;
	line-height: 1.7;
}

.post_titel:hover {
	color: #f15162;
}

.ease {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.box-shadow {
	-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
	padding-bottom: 35px;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	border-radius: 5px 5px 0;
}

.blog_excerpt {
	display: -webkit-box!important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding: 20px 20px 0;
	color: #4a5269;
	line-height: 1.7;
	word-break: break-all;
}

.box-shadow:hover img {
	transform: scale(1.1, 1.1);
}

.overflow {
	overflow: hidden;
}

.post-card.post:hover .post-card-image-link,
.post-card.post:hover .post-card-image-link img {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.post-card.post:hover a img {
	transform: scale(1.1, 1.1);
}

article.post-card .img-holder {
	max-width: 100%;
	overflow: hidden;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.post-card-title:hover {
	color: #f15162;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.content_benefits .innertext.innerheading {
	font-size: 23px;
	min-height: 67px;
}

.content_benefits .innertext.innerheading span {
	display: block;
}

.downloadsection .requestdemo_sidebar {
	position: absolute;
	top: 27%;
	left: 20px;
	margin: 0;
	right: 20px;
}

.min_hght {
	min-height: 300px;
}

.min_hght_2 {
	min-height: 200px;
}

.blackbutton {
	border: 1px solid #4c5267;
	color: #4c5267!important;
}

.blackbutton:hover {
	color: #4c5267!important;
}

.button_sidebar {
	padding-bottom: 55px;
}

.sideheading {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 600;
}

.ebookbackground {
	position: absolute;
	top: 40%;
	height: 150px;
	padding: 30px;
	width: 100%;
	z-index: 1;
}

.dwnloadbookimage {
	z-index: 9;
}

.downloadsection .freeebook {
	position: absolute;
	width: 34%;
	top: -32px;
	right: 24px;
	z-index: 9;
}

.downloadsection .dwnloadbookimage {
	margin-left: 45px;
	margin-bottom: 50px;
}

.content_c,
.subscribebackground {
	background: #f5f8fa;
}

.downloadsection .subscribe {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.downloadsection .hs_submit.hs-submit {
	height: 45px;
	padding: 0;
	margin-top: 20px;
	width: 100%;
}

.downloadsection .hs_submit.hs-submit .actions {
	width: 100%;
}

.downloadsection .hs_submit.hs-submit input[type=submit] {
	background: 0 0;
	border: 0;
	color: #fff;
	margin: auto;
	width: 100%;
}

.downloadsection input[type=email] {
	height: 45px;
	padding: 15px;
	border-radius: 0;
}

.hs_error_rollup {
	display: none;
}

.downloadsection .imagesticky {
	width: 70%;
	margin: 30px 0 50px;
}

.sticky.innerspace {
	padding: 40px 20px 60px;
}

.content-inner .post-title.sidebartitle {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	padding-bottom: 10px;
}

.smallfont {
	font-size: 12px;
}

.downloadsection .hghtpost {
	min-height: 70px;
	position: relative;
}

.downloadsection .postdesign {
	position: absolute;
	bottom: 0;
}

.innerspace_w {
	padding: 20px;
}

.downloadsection .vfitheart {
	width: 27%;
}

.single-post .inner-featured-image {
	border-radius: 0;
}

.b15 {
	margin-top: 15px;
}

.table_subheading {
	margin-bottom: 30px;
	margin-top: 20px;
}

.content_c li {
	color: #f15162;
	padding: 0;
}

#load-posts.finish {
	display: none;
}

.contentpost ol li {
	margin-bottom: 15px;
	padding-left: 7px;
}

.flexd {
	display: flex;
	align-items: center;
}

img.bokcover {
	width: 37%;
	float: right;
	padding-right: 10px;
}

img.freebookblog {
	position: absolute;
	width: 15%;
	left: 53%;
	top: 13%;
	z-index: 9;
}

.position {
	position: relative
}

img.pulseblog {
	position: absolute;
	width: 66%;
	bottom: 7%;
	left: -15px;
}

.ebookbutton {
	margin-top: 50px;
}

.contentebook {
	font-size: 16px;
	line-height: 1.5;
	margin: 50px 0;
	box-shadow: 2px 3px 20px 3px rgba(0, 0, 0, .1);
}

.contentebook img {
	margin: 0;
}

h3.cta-inline {
	font-size: 17px;
	font-weight: 400;
}

.app_downloadbanner img {
	width: 19%;
	margin: 0;
}

.dwnload_app {
	width: auto;
	display: inline;
	margin-right: 20px;
}

.contentpost img.healthyworkforcebanner {
	margin: 0;
	width: 30%;
	position: absolute;
	right: 0;
	width: 30%;
	bottom: -15px;
}

.appdownloadbanner {
	position: relative;
	margin: 50px 0;
	background: #e8fcfa;
}

.contentpost img.ebookbanner {
	width: 100%;
	margin: 40px 0;
	border-radius: 0;
}

.compny_background {
	background-image: -webkit-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	color: #fff;
}

.dwnloadbookimage {
	z-index: 9;
}

.innerspace {
	padding: 40px 20px;
}

.downloadsection .banner_btn {
	padding: 12px 45px;
	margin-top: 10px;
}

.hs-form {
	position: relative;
	margin: 30px 0;
	min-height: 250px
}

.rightsidebar {
	background-color: #fff;
	-webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
	position: relative;
	overflow: hidden;
	margin: 35px 0 30px;
}

.title-post-ind {
	font-size: 14px;
	color: #181818!important;
	font-weight: 400;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	min-height: 44px;
	text-overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.downloadsection img {
	margin-bottom: 30px;
	width: 85%;
}

.title-post-ind:hover {
	color: #f15162!important;
}

.downloadsection .hs-input,
.subscribe_wrapper .gh-input {
	border: 0;
	font-size: 18px;
	height: 60px;
	-webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
	width: 100%;
}

.mb10 {
	margin-bottom: 0
}

.popupbottom {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30%;
	z-index: 9;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 0 50px 70px 0 rgba(0, 11, 40, .24);
	box-shadow: 0 50px 70px 0 rgba(0, 11, 40, .24);
}

.popupbottom .app_downloadbanner img {
	width: 40%;
}

.popupbottom .appdownloadbanner {
	margin: 0;
	border-radius: 6px 0 0 0;
}

.popupbottom .dwnload_app {
	margin: 0 5px;
}

#bottommodal svg:hover {
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#bottommodal svg {
	width: 15px;
	height: 15px;
	transition: all .2s ease-in-out;
}

.buttonpopup {
	position: absolute;
	top: 20px;
	right: 20px;
}

.rel {
	position: relative;
}

.popupbottom.overlayPop.slideUp {
	display: block;
}

img.donloadappimg {
	width: 27%;
}

.block1 {
	display: block;
}

.block2 {
	display: none;
}

.app_downloadbanner img.buildapp {
	width: 30%;
}

.slideUp {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	animation: slideBottom 3s forwards;
}

@keyframes slideBottom {
	0% {
		opacity: 0;
		bottom: -30rem;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}

.slideDown {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	animation: slideUp 3s forwards;
}

@keyframes slideUp {
	0% {
		opacity: 1;
		bottom: 0;
	}
	100% {
		opacity: 0;
		bottom: -30rem;
	}
}

img.donloadappimg {
	width: 27%;
}

.block1 {
	display: block;
}

.block2,
.popupbottom {
	display: none;
}

.app_downloadbanner img.buildapp {
	width: 32%;
}
/*horizontalpopup*/
.new_footer_area.popupspc{
	margin-bottom:80px;
}
.popupbottom.horizontalpopup{
	width:100%;
	
}
.popupbottom.horizontalpopup .app_downloadbanner img{
	width:20%;
}
.popupbottom.horizontalpopup  .index_download{
	margin-top:0px;
}
.popupbottom.horizontalpopup  .innerspace{
	padding:20px;
}
.popupbottom.horizontalpopup .appdownloadbanner{
	border-radius:0px;
	background-image: -webkit-linear-gradient(0deg, #fa6967 0, #f56765 1%, #ed6a58 100%);
	-webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .06);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .06);
    color:#ffffff;
}
.horizontaltext{
	font-weight:500;
	font-size:18px;
}
.iconslandingpage ul {
	padding-inline-start:0px;
	margin-bottom:0px;
}
.iconslandingpage ul li {
    display: inline-block;
    list-style-type:none;
    margin: 30px 0px;
    width:15%;
    border-right:1px solid #d9dde7;
    vertical-align: middle;
    min-height:60px;
}
.iconslandingpage ul li a
{
	color:#4c5267;
}
.iconslandingpage ul li a:hover,
.companycolor
{
	color:#f15162;
}
.iconslandingpage ul li:last-child{
	border-right:none;
}
.iconslandingpage img {
    width: 25%;
}
.iconslandingpage p{
	font-weight: 500;
    line-height: 1.4;
    padding-top: 20px;
    margin-bottom:0px;
}
.iconslandingpage{
	width:100%;
}
.bz-shadow{
	-webkit-box-shadow: 0 3px 10.92px 1.08px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 3px 10.92px 1.08px rgba(0, 0, 0, .07);
    box-shadow: 0 3px 10.92px 1.08px rgba(0, 0, 0, .07);
    margin-bottom:40px;
}
.n_banner_content.empwelness{
	padding-top:80px;
}
.n_banner_content.empwelness p{
	padding-bottom:0px;
}
.n_banner_content.empwelness hr{
	border-top:1px solid #ffffff;
	opacity:.6;
}
.n_banner_content.empwelness b{
	font-weight:600;
}
.welness_banner{
	padding-top:120px;
}
.n_banner_content.empwelness h1{
	font-weight:500;
}

.request-demo-form .actions{
	text-align:center;
	z-index:99;
}
.formbackground{
	position:absolute;
	bottom:0px;
	width:100%;
	left:0px;
	right:0px;
	z-index:-1;
}

.horizontalpopup .buttonpopup {
    position: absolute;
    top: 5px;
    right: 12px;
    z-index:99;
}
.request-demo-form.position {
    padding: 40px 40px 55px;
    min-height:580px;
}
.request-demo-form .title_head{
	font-size:25px;
}
.request-demo-form.position  .hs-form{
	margin:10px 0px;
}
.popupbottom.overlayPop.slideUp.marketinglanding.featured{
	display:none;
}
.marketinglanding.featured.new_footer_area.popupspc,.marketinglanding.featured.new_footer_area{
	margin-bottom:0px;
	display:block;
}
.demoformtext{
	font-size:13px;
	margin-top:20px;
}
.landing_request{
	flex-grow: 0;
}

.admin_features{
	max-width:800px;
	margin:auto;
}
.mb_10im{
	margin-bottom:0px!important;
}

/*
.slider-color {
    -webkit-appearance: none;
    width: 98%;
    height: 25px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    margin:20px 0px;
        position: absolute;
    top: 0px;
    z-index: 1;
    background: transparent;
}

.slider-handle {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 2px 10px 0 rgba(0, 20, 20, .1);
  top: 20%;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: -.6em;
}

#slider-fill{
	height: 20px;
	background-color:#f15162;
	border-radius:10px 0px 0px 10px;
}
#slider-range{
	background: #d9dde7;
	border-radius:10px;
	z-index:9;

    	cursor:pointer;
}
.pricecalculator{
	max-width: 95%;
	margin:0px auto;
}
*/


/*pricing- new*/
.content_c {
    position: relative;
    margin-bottom: 50px;
    padding: 40px 40px 25px;
    margin-top: 50px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}
.content_c .table_heading {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
    border-left: 3px solid #f15162;
    padding-left: 15px;
    font-weight:300;
}
.table_subheading {
    margin-bottom: 30px;
    margin-top: 20px;
}
.content_c ol {
    text-align: left;
    font-size: 15px;
    margin-bottom: 0;
    padding-inline-start: 0;
}
.content_c ol li {
    list-style: none;
    padding-left: 0;
}
.content_c ol li:before{
	content:none;
}
.resourceebookd .sideheading{
	font-size:17px;
}
.resourceebookd .title_second .second_heading{
	font-size:26px;
}
.container.price-container{
	max-width:1000px;
}
.noofUser{
	padding:50px 100px;
}
.user_heading{
	font-size:25px;
	font-weight:400;
	margin-bottom:10px;
}
.companycolor:hover{
	text-decoration: underline;
}
.usersbox{
	border:1px solid #d9dde7;
	border-radius:6px;
	padding:20px;
}
.usersbox .numberOfUserss{
	font-size: 32px;
	font-weight: 500;
	color:#f8654a;
}
.smallfont{
	font-size:12px;
}
.range-slider {
  margin: 60px 0 5px 25px;
}
.range-slider {
  width: 100%;
}
.range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    transition: background .15s ease-in-out;
    box-shadow: 0 2px 10px 0 rgba(0, 20, 20, .1);
}
.range-slider__range {
  -webkit-appearance: none;
  width: 90%;
  height: 20px;
  border-radius: 15px;
  background:#d3d3d3;
  outline: none;
  padding: 0;
  margin: 0;
}

 .range-slider__range::-moz-range-thumb {
	appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fffff;
    cursor: pointer;
    transition: background .15s ease-in-out;
} 
    
.range-slider__range:active::-moz-range-thumb{
	background: #fffff;
}
    

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

.priceboxes{
	padding:55px 30px;
	border-radius:6px;
} 
.priceperemployee{
	margin:30px 0px;
	position:relative;
}
.priceperemployee{
	    background-color: #f5f8fa;
    width: max-content;
    padding: 2px 17px;
    border-radius: 13px;
    font-size: 11px;
    font-weight: 400;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.chooseplan{
	font-size:20px;
	font-weight:500;
	margin-top:15px;
}
.freebox{
	border-bottom:5px solid #49CCBA;
}
.action {
	text-align:center;
	font-weight:500;
	font-size:13px;
}
.additionals{
	margin-top:20px;
	font-size:13px;
}
.freebox .action a,
.freebox .output{
	color:#49CCBA;
}
.cta-price.button-black {
	margin-top:30px;
}
.cta-price.button-black a{
	 padding: 10px 25px;
	 font-size:14px;
	 font-weight:400;
	 display: block;
    max-width: 160px;
    margin: 0px auto;
}
.freebox .cta-price.button-black a{
	color:#ffffff!important;
	background-color:#49CCBA;
	border:1px solid #49CCBA;
}
.pricingouter.priceboxes img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.premiumbox{
	border-bottom:5px solid #F48567;
}
.premiumbox .cta-price.button-black  a{
	color:#ffffff!important;
	background-color:#F48567;
	border:1px solid #F48567;
}
.premiumbox .action a,
.premiumbox .output{
	color:#F48567;
}
.enterprisebox{
	border-bottom:5px solid #1E76A9;
}
.enterprisebox .cta-price.button-black  a{
	color:#ffffff!important;
	background-color:#1E76A9;
	border:1px solid #1E76A9;
}
.enterprisebox .action a,
.enterprisebox .output{
	color:#1E76A9;
}
.displayUsers{
	font-size:12px;
	min-height:30px;
}
.output{
	font-size:35px;
	font-weight:500;
	margin-top:20px;
}
.tabValues{
	width:max-content;
	border-radius:30px;
	margin:0px auto;
	padding:0px;
}
.tabValues li{
	list-style:none;
	display:inline-block;
	padding:6px 45px;
	border-radius:30px;
	font-size:14px;
	font-weight:500;
	cursor:pointer;
}
.active,
.showItem{
	display:block;
}
.hidden,
.hideItem{
	display:none;
}
.tabValues .active{
	border:1px solid #f15162;
	color:#f15162;
}
.userFlex {
    margin: 0px 28px 30px;
    width: 90%;
    font-size:12px;
    font-weight:500;
}
.d-right{
	float:right;
}
.pricing_trial{
	padding:20px;
}
.pricing_trial .second_heading{
	font-size:28px;
}
.pricing_trial .button-black{
	margin-top:40px;
}
.indItems .freeBox{
	background: #49CCBA;
	color:#ffffff;
}
.indItems div{
	border-radius:10px 10px 0px 0px;
	font-weight:400;
	padding:10px;
	display:inline-block;

	width:21%;
}
.indItems .premiumBox{
	background-color:#F48567;
	color:#ffffff;
}
.indItems .enterpriseBox{
	background-color:#1E76A9;
	color:#ffffff;
}
.pricingouter.indItems{
	padding:0px;
	border-radius:6px;
}
.pricingouter.indItems{
	border-radius:6px;
}
.indItems table{
	width:100%;
  	overflow: hidden;
  	border-collapse: seperate;
  	border-spacing: 0;
}
.indItems table td{
	width:21%;
	border:1px solid rgba(0,0,0,.1);
	padding:20px 25px;
	font-weight:400;
}
.checkmark{
  display:inline-block;
 } 
 .checkmark:after{
    content: '';
    display: block;
    width: 7px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0!important;
    transform: rotate(45deg);
}
#subscriptionPlan .indItems table td:first-child,
#subscriptionPlan .indItems .firstItem{
    width: 35%;
}
.tableSubscription td:nth-child(2) .checkmark:after{
	border: solid #49CCBA;
}
.tableSubscription td:nth-child(3) .checkmark:after,
#onetimePlan .checkmark:after{
	border: solid #F48567;
}
.tableSubscription td:nth-child(4) .checkmark:after{
	border: solid #1E76A9;
}
.tablePlan{
	font-size:14px;
}
.tableSubscription td:nth-child(1){
	text-align:left;
}
.comparePlansSection{
	margin-top:30px;
}
.heading_table{
	padding:20px;
	color:#ffffff;

}
#onetimePlan .premiumBox {
    background-color: #F48567;
    border-radius: 10px 10px 0px 0px;
}
#onetimePlan .tableSubscription td:nth-child(1),
#onetimePlan  .emptyDiv{
	width:59%;
}
#onetimePlan .tableSubscription td:nth-child(2){
	width:40%;
}
#onetimePlan .premiumBox{
	width:100%;
}
#accordion .card{
	margin-bottom:40px;
	border:none;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	padding:10px 30px;
}
#accordion .btn-link ,
#accordion .btn-link:hover{
    font-weight: 500;
    color: #282835;
    text-decoration: none;
    font-size:14px;
    text-align:left;
}
#accordion .card-header{
	background:none;
	border-bottom:0;
	padding: 10px 0px;
}
.card-body{
	font-size:13px;
	padding:20px 0px;
}
.card-body p{
	font-size:13px;
}
#accordion .btn:before {
  content: "";
  position: absolute;
  left: 0px;
  z-index: 11;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #f15162;
  border-left: 2px solid #f15162;
  top: 13px;
  transform: rotate(225deg);
  -webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
#accordion .btn{
	padding:10px 0px 10px 25px;
	position:relative;
  transition: all 0.2s linear;
}
#accordion .collapsed.btn:before {
	transform: rotate(130deg);
	top: 14px;
}
.collapse.show{
	border-top: 1px solid rgba(0,0,0,.1);
}
.pricingpage .hs_submit{
	text-align:center;
}

.indItems table td .innerTable td{
	padding:0px;
	border:0;
}
.innerTable .cta-price.button-black a{
	display:block;
	padding:10px 5px;
}
.greyBackground{
	background: #f5f8fa;
}
tr.greyBackground td {
    height: 60px;
}
tr.greyBackground td a:hover{
	box-shadow:none;
}
#selectedNumberOfWeeks {
    width: 100%;
    border-radius: 6px;
    padding: 15px 60px;
    border-color: rgba(0,0,0,.1);
    text-align-last: center; 
    text-indent: 35px;
    height:55px;
}
#oneTimeChallengeBox{
	margin-top:50px;
}
#oneTimeChallengeBox .onetimeBox{
	margin-top:100px;
}

#oneTimeChallengeBox .fa-calendar{
	    position: absolute;
    top: 20px;
    left: 34px;
}
.output span{
	font-weight:300;
	font-size:22px;
	padding-right:5px;
}
.userLimit{
	display:none;
	font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.userLimit img{
	padding-right:20px;
}

.modal-dialog{
	min-width:700px;
}
.modal-content{
	border-radius:0px;
}

.modal-body,
.modal-header{
	padding:20px 30px;
}
/*
.close {
  position: absolute;
  right: 32px;
  top: 0px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  padding:0px!important;
  margin:0px!important;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #333;
  top:23px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}*/

.planIndBox{
	padding-left:10px;
	padding-right:10px;
}
.additionals ul {
    padding-inline-start: 16px;
}
.mobileView,
.tabsViewMobile{
	display:none!important;
}
.mobileCta{
	width:100%!important;
	border-bottom:0;
}
.mobileView .cta-price{
	width:100%!important;
	margin-bottom:15px!important;
	margin-top:15px;
}
#accordion li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
    margin-bottom: 15px;
}
#accordion ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #f15162;
}
select {
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%)!important;
  background-position:
    calc(100% - 20px) calc(1em + 8px), calc(100% - 15px) calc(1em + 8px)!important;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

/*resquest demo pardot form */

.request-demo-form input[type="text"],
.request-demo-form input[type="email"],
.request-demo-form input[type="tel"],
.request-demo-form select,
.request-demo-form textarea{
	outline: 0;
    color: #666;
    border-radius: 4px!important;
    padding: 6px 13px 5px;
    width: 97%!important;
    font-size: 13px;
    border: 1px solid #cbd6e2;
    height: 45px;
    background-color: #fff!important;
    transition: all .3s ease!important;
    font-family: Poppins, sans-serif!important;
}
.request-demo-form input[type="submit"]{
	background: #f15162!important;
    color: #fff;
    border-color: #f15162;
    padding: 12px 55px;
    border-radius: 5px;
    margin-top: 40px;
    outline: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.requestdemopage{
	padding-bottom:0px;
}
/*request demo pardot formends*/
.position_letter,
.contentpost img.ebookbanner,
.downloadsection{
	display:none;
}

.rightsidebar{
	margin-top:0px;
}










